    <ul class="sidebar-menu">
        <li class="">
            <a href="/#/">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>

        <li class="treeview active" ng-show="loggedInUserType = 1">
            <a href="#">
                <i class="fa fa-bar-chart-o"></i>
                <span>SuperAdmin</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/#/plans"><i class="fa fa-angle-double-right"></i>Plan Management</a></li>
                <li><a href="/#/subscribers"><i class="fa fa-angle-double-right"></i>Subscribers Mgmt</a></li>
                <li><a ui-sref="default-appointmenttype"><i class="fa fa-angle-double-right"></i>Default Appt type Mgmt</a></li>
                <li><a ui-sref="default-diagnosis"><i class="fa fa-angle-double-right"></i>Default Diag. Mgmt</a></li>
                <li><a ui-sref="default-tasks"><i class="fa fa-angle-double-right"></i>Default Time Mgmt</a></li> 
            </ul>
        </li>
    </ul>

   

