<ul class="sidebar-menu subscriber_menu" ng-show="subscriberLoggedIn">
        <li class="treeview">
            <a href="#">
                <i class="fa fa-building-o"></i>
                <span>Manage Offices</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Manage Office</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Manage Providers</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Manage Office Schedule</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-edit"></i> <span>Manage Roles</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Search Roles</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Create/Edit/Delete Roles</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Manage Perm. by role</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-users"></i> <span>Manage Users</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Search Users</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Add/edit/delete users</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Reporting</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="glyphicon glyphicon-th-list"></i> <span>Manage Appt. options</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-angle-double-right"></i>View appt. Info</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Manage appt. type</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Manage diagnosis</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Manage Tasks</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-adjust"></i> <span>Manage Adjustment factors</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-angle-double-right"></i>View Adjustment factors</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Referrer type adjustments</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Patient type adjustments</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Appt type with diagnosis</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Staf skill adjustments</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-calendar"></i> <span>Manage Patient Scheduling</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-angle-double-right"></i>View constraints</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Manage constraints</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Manage Patients</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-angle-double-right"></i>View patients</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Search/edit patients</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Search/edit patient</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-book"></i> <span>Manage Appointments</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-angle-double-right"></i>View appointments</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>Edit appointments</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Manage Account</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-angle-double-right"></i>My Information</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i>My permission</a></li>
            </ul>
        </li>
    
</ul>
