<aside class="right-side" data-ng-init="findone()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 data-ng-if="!data._id">Add Patient Type</h1>
        <h1 data-ng-if="data._id">Edit Patient Type</h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#/ListPatientType">Patient Type</a></li>
            <li data-ng-if="!data._id">Add</li>
            <li data-ng-if="data._id">Edit</li>        
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" data-ng-init="findOne()">
        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div class="box-body table-responsive">
                                            <div ng-class="alerttype" ng-show="showmessage"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                                            <form role="form" "form" name="patientTypeForm">
                                                 <div class="box-body">
                                                    <div class="form-group">
                                                        
                                                        <!-- <label>Select Office</label>
                                                        <select class="form-control" ng-model="patienttype.office_id" ng-options="obj.title for obj in officeData track by obj._id">
                                                        <option value="">Select Office</option>
                                                        </select> -->
                                            
                                                        <label>Patient Type Title: *</label>
                                                        <input type="text" class="form-control" ng-model="patienttype.title" placeholder="Enter Patient Type" name="title" required />
                                                         <span class="texterror" ng-show="patientTypeForm.title.$touched && patientTypeForm.title.$invalid"><b>The title is required.</b></span>
                                                    </div>

                                                    <div class="form-group">

                                                        <label>Patient Effort Value: *</label>

                                                        <input type="number" class="form-control" ng-model="patienttype.effort" placeholder="Enter Patient Effort Value" name="effort" required />

                                                         <span class="texterror" ng-show="patientTypeForm.effort.$touched && patientTypeForm.effort.$invalid"><b>The effort value is required and needs to be an integer.</b></span>

                                                    </div>



                                            
                                                </div>
                                          
                                               <div class="box-footer clearfix no-border">

                                                  <div style="float: left; font-size: 13px; width: 45%; color: #367FA9;">
                                                    * Values for Patient Effort in excess of 10 will result in a patient with that value being treated as a high effort patient for scheduling constraint purposes.
                                                  </div>


                                                  <button  class="btn btn-primary pull-right m_lft5" data-ng-if="!data._id" ng-click="Add()" ng-disabled="patientTypeForm.$invalid"><i class="fa fa-check p-r-10"></i> Add Patient Type</button>
                                                  <button  class="btn btn-primary pull-right m_lft5" data-ng-if="data._id" ng-click="updatePatientType(patienttype._id)" ng-disabled="patientTypeForm.$invalid"><i class="fa fa-check p-r-10"></i> Update Patient Type</button>
                                                  <a class="btn btn-primary m-r-10 pull-right m_lft5" href="#/ListPatientType"><i class="fa fa-reply p-r-10"></i> Cancel</a>
                                                  
                                              </div>
                                               
                                               
                                        </div>
                                        <!-- /.tab-pane -->
                                    </div>
                                    <!-- /.tab-content -->
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.tab-pane -->
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
