
<aside class="right-side" ng-init="getAllPt()">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
    Manage Patient Types                      
   </h1>
   <ol class="breadcrumb">
    <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Manage PatientType</li>                       
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box-body table-responsive">
        <div ng-class="alerttype" ng-show="showmessage"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>   

        <div class="box">

                                <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                  </div> -->
                                  <div class="box-body table-responsive">
                                    <div class="clearfix" style="padding-bottom:15px;">
                                            <div class="box-body table-responsive">
                                            <div class="clearfix">
                                            
                                 <!-- <div class="pull-left m_btm15" >
                                    <form name="">
                                        <select class="form-control" ng-model="searchpatient.office_id" ng-options="obj.title for obj in officeData track by obj._id" style="width:62%;display:inline-block;">
                                            <option value="">Select Office</option>
                                        </select>
                                       <button class="btn btn-primary pull-right" data-ng-click="getAllPt()">Search</button>
                                    </form>
                                </div> -->
                                 <div class="clearfix"></div>
                                      <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                        <div class="input-group">
                                          <span class="input-group-addon">Except for...
                                            <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                          </span>
                                          <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                          <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                              <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                          </span>
                                        </div>
                                      </form>
                                    </div>                         

                                    <form role="form">
                                      <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible"> 
                                       <colgroup>
                                       <col width="5%" ng-if="isEditAppointmentOpt"/>
                                       <col width="5%"/>
                                       <col width="50%"/>
                                       <col width="40%" ng-if="isEditAppointmentOpt"/>
                                       </colgroup>

                                     <tr ng-repeat = "patienttypeData in $data">
                                      <td header="'headerCheckbox.html'" sortable ="" ng-if="isEditAppointmentOpt">
                                        <input type='checkbox' ng-model="checkboxes.items[patienttypeData._id]" ng-change="toggleSelection(patienttypeData._id)" value="{{patienttypeData._id}}" ng-if="patienttypeData.editable" />
                                      </td>
                                      <td data-title="'Status'" sortable="'enable'" align='left'>
                                        <div ng-if="patienttypeData.enable==true"><img src='images/enable.png' border='0'></div><div ng-if="patienttypeData.enable==false"><img src='images/disable.png' border='0'>
                                      </div>
                                    </td>

                                      <td data-title="'patienttype'" sortable="'name'" filter="{name:'text'}" align="left">{{patienttypeData.title}}
                                       
                                      </td>
                                  
                                      <td data-title="'Action'" align="left" ng-if="isEditAppointmentOpt"><a href="/#/ListPatientType/{{patienttypeData._id}}" ng-click="edit(patienttypeData._id)" alt="Click to edit" title="Click to edit" ng-if="patienttypeData.editable"><i class="glyphicon glyphicon-edit"></i></a></td>
                                    </tr>
                                    <tr ng-if="isEditAppointmentOpt">
                                       <td colspan='2'>
                                                     <div class="form-group" has-permission = "17"><a ui-sref="patienttype-add" align='right'  class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>Add Patient Type</a></div>
                                                    
                                        </td>
                                      <td colspan='3'>
                                          <div class="form-group" style="width:20%;display:inline-block;margin-right:1%;">
                                          <select class="form-control" name='selectedAction' id='selectedAction'>
                                                                <option value="0">Select</option>
                                                                <option value="1">Enable</option>
                                                                <option value="2">Disable</option>
                                                                <option value="3">Delete</option>
                                                            </select> 
                                       </div> 
                                        <input type='button' name='go' value='Go' class='btn btn-primary' ng-click="performAction()">
                                     </td>
                                    

                                   </form>
                                 </tr>  
                               </table>   

                             </div>
                           </div>
                         </div>
                       </div>

                     </section>
                   </aside>


                 
                   <script type="text/ng-template" id="headerCheckbox.html">
                   <input type="checkbox" ng-model="checkboxes.checked" data-ng-click="toggleSelection(0)" class="select-all" value=""/>
                   </script>
