 <aside class="right-side" data-ng-init="getAllReferrerType()">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                      Default Referrer Type Management                       
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li>Default Referrer Types</li>                       
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-body table-responsive">
                                     <div ng-class="alerttype" ng-show="showmessage"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>  
                            
                            <div class="box">
                                
                                <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                </div> -->
                                 <div class="box-body table-responsive">
                                <div class="clearfix">
                                 
                                <!-- <div class="pull-left m_btm15" >
                                    <form name="">
                                        <select class="form-control" ng-model="searchreferer.office_id" ng-options="obj.title for obj in officeData track by obj._id" style="width:62%;display:inline-block;">
                                            <option value="">Select Office</option>
                                        </select>
                                       <button class="btn btn-primary pull-right" data-ng-click="getAllReferrerType()">Search</button>
                                    </form>
                                </div> -->
                                 <div class="clearfix"></div>
                                <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                    <div class="input-group">
                                      <span class="input-group-addon">Except for...
                                        <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                      </span>
                                      <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                          <span class="glyphicon glyphicon-search"></span>
                                      </button>
                                      </span>
                                    </div>
                              </form>
                              </div>                         

                           <form role="form">
                                  
                                    <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible"> 
                                     <colgroup>
                                              <col width="5%" ng-if="isEditAppointmentOpt"/>
                                              <col width="5%"/>
                                              <col width="85%"/>
                                              <col width="5%" ng-if="isEditAppointmentOpt"/>
                                              <!-- <col width="10%"/> -->
                                              <!-- <col width="20%"/>
                                              <col width="20%"/> -->
                                             
                                            </colgroup>

                                            <tr ng-repeat = "referrerType in $data">
                                                <td header="'headerCheckbox.html'" ng-if="isEditAppointmentOpt"><input type='checkbox' ng-model="checkboxes.items[referrerType._id]" ng-change="toggleSelection(referrerType._id)" value="{{referrerType._id}}" /></td>
                                                <td data-title="'Status'" sortable="'enable'" align='left'><div ng-if="referrerType.enable==true"><img src='images/enable.png' border='0'></div><div ng-if="referrerType.enable==false"><img src='images/disable.png' border='0'></div></td>

                                               <!--  <td data-title="'Title'" sortable="'title'" filter="{title:'text'}" align="left"><a href="/#/referrer-type/edit/{{referrerType._id}}" alt="Click to edit" title="Click to edit">{{referrerType.title}}</a></td> -->

                                               <td data-title="'Title'" sortable="'title'" filter="{title:'text'}" align="left">{{referrerType.title}}</td>
                                                  <td data-title="'Action'" sortable="'title'" filter="{title:'text'}" align="left" ng-if="isEditAppointmentOpt"><a href="/#/default-referrer-type/edit/{{referrerType._id}}" alt="Click to edit" title="Click to edit"><i class="glyphicon glyphicon-edit"></i></a></td>
                                           
                                            </tr>
                                            <tr ng-if="isEditAppointmentOpt">
                                                <td colspan='2'>
                                                     <div class="form-group" has-permission = "17"><a ui-sref="default-referrer-type-add" align='right'  class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>Add Referrer Type</a></div>
                                                    
                                                </td>
                                                <td colspan='3'>
                                                    
                                                    <div class="form-group" style="width:20%;display:inline-block;margin-right:1%;">
                                                                <select class="form-control" name='selectedAction' id='selectedAction'>
                                                                <option value="0">Select</option>
                                                                <option value="1">Enable</option>
                                                                <option value="2">Disable</option>
                                                                <option value="3">Delete</option>
                                                            </select> 
                                                    </div>
                                                    <input type='button' name='go' value='Go' class='btn btn-primary' ng-click="performReferrerTypeAction()">
                                                </td>
                                               
                                                
                                            </tr>  
                                    </table>   
                            </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->


            <!-- page script -->
         <script type="text/ng-template" id="headerCheckbox.html">
                <input type="checkbox" ng-model="checkboxes.checked" data-ng-click="toggleSelection(0)" class="select-all" value="" />
            </script>
               