<aside class="right-side" data-ng-init="findOne()">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 data-ng-if="!diagnose._id">Add Diagnosis</h1>
                    <h1 data-ng-if="diagnose._id">Edit Diagnosis</h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a ui-sref="office-diagnosis">Office Diagnosis</a></li> 
                        <li data-ng-if="!diagnose._id">Add</li>
                        <li data-ng-if="diagnose._id">Edit</li>                          
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="box">
                                    
                                <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                </div> -->
                                <div class="box-body table-responsive">
                                   <div ng-class="alerttype" ng-show="showmessage"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div> 
                                                                    
                                    <form role="form" name="diagnoseform">
                                   <div class="box-body">
                                        <div class="form-group">
                                            <!-- <label>Select Office:</label>
                                            <select class="form-control" data-ng-model="diagnose.office_id" ng-options="obj.title for obj in officeList track by obj._id" ng-change="listAllAppointmentTypes(diagnose.office_id)">
                                            <option value="">Select Office</option>
                                            </select> -->
                                            
                                            <label>Title: *</label>
                                            <input type="text" class="form-control" id="title" name='title' ng-model="diagnose.title" placeholder="Enter Title" required />  
                                             <span class="texterror" ng-show="diagnoseform.title.$touched && diagnoseform.title.$invalid">Enter diagnosis title. </span>    
                                            </div>                                      
                                            <div class="form-group">
                                            <label>Code: *</label>
                                            <input type="text" class="form-control" id="diagnosiscode" name='code' ng-model="diagnose.code" placeholder="Enter Diagnosis code" required />   
                                            <span class="texterror" ng-show="diagnoseform.code.$touched && diagnoseform.code.$invalid">Enter diagnosis code. </span>    
                                            </div>                                        
<div class="form-group">
                                            <label>Appointment Type: *</label>
                                            <div ng-repeat = "at in appointmentTypeList"> <input type="checkbox" ng-model="at.selected" > {{at.title }} </div>
                                            </div>
                                            <div class="form-group">
                                            <label>Status:</label>
                                            <div class="checkbox status_check">

                                                <label>
                                                    <input type="checkbox" name='enable' id='enable' ng-model='diagnose.enable' checked="{{enableChecked}}"/>
                                                    Enable
                                                </label>
                                            </div> 

                                    </div>

                                    <div class="box-footer clearfix no-border">
                                           <button data-ng-if="!diagnose._id" class=" btn m_lft5  btn-primary pull-right" data-ng-click="update(0)" ng-disabled="diagnoseform.$invalid"><i class="fa fa-check p-r-10"></i> Add Diagnosis</button>
                                            <button data-ng-if="diagnose._id" class="btn m_lft5 btn-primary pull-right" data-ng-click="update(1)" ng-disabled="diagnoseform.$invalid"><i class="fa fa-check p-r-10"></i> Update Diagnosis</button>
                                            <a class="btn btn-primary m-r-10 pull-right m_lft5" ui-sref="office-diagnosis"><i class="fa fa-reply p-r-10"></i> Cancel</a>
                                            <!--<button class="btn btn-default m-r-10 pull-right" ng-click="cleardata()" href="#"><i class="fa fa-reply"></i>Clear</button>-->
                                      </div>
                                </form>              
                                  
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->