<aside class="right-side" ng-init="getAllOffices()" ng-cloak>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Manager Override                     
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li>Manager Override</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
		<div class="pull-left m_btm15">
		    <form name="">
		        <select class="form-control" ng-model="searchForm.office" ng-options="obj.title for obj in officeData track by obj._id" style="width:35%;display:inline-block;" ng-change="listAllOverrideAppointments()">
		            <option value="">Select Office</option>
		        </select>
		        <!-- {{searchForm}} -->
		        <input class="datepicker form-control" ng-model="searchForm.fromDate" placeholder="From Date" style="width:25%;display:inline-block;">
		        <input class="datepicker form-control" ng-model="searchForm.toDate" placeholder="To Date" style="width:25%;display:inline-block;">
		        <button class="btn btn-primary pull-right" data-ng-click="listAllOverrideAppointments()">Search</button>
		    </form>
		</div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive">
                    <div class="alert alert-dismissable" ng-class="alerttype" ng-show="showmessage">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        <ul>
                            <li ng-repeat="messages in message">{{messages}}</li>
                        </ul>
                    </div>
                    <div class="box">
                        <div class="box-body table-responsive">
                            <form role="form">
                                <!-- {{data}} -->
                                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                                    <colgroup>
                                        <col width="10%" />
                                        <col width="5%" />
                                        <col width="5%" />
                                        <col width="15%" />
                                        <col width="20%" />
                                        <col width="19%" />
                                        <col width="19%" />
                                        <col width="7%" />
                                    </colgroup>
                                    <tr ng-repeat="appointment in $data">
                                        <td data-title="'Date'" align='left'>
                                            {{appointment.appointment_date | date}}
                                        </td>
                                        <td data-title="'Start Time'" sortable="'enable'" align='left'>
                                            {{appointment.appointment_start_time}}
                                        </td>
                                        <td data-title="'End Time'" sortable="'enable'" align='left'>
                                            {{appointment.appointment_end_time}}
                                        </td>
                                        <td data-title="'Appointment Id'" align="left">{{appointment._id}}</a>
                                        </td>
                                        <td data-title="'Patient'" align="left">{{appointment.patient.first_name}} {{appointment.patient.middle_name}} {{appointment.patient.last_name}}</td>
                                        <td data-title="'Appointment Type'" align="left">{{appointment.appt_type.title}}</td>
                                        <td data-title="'Provider'">
                                            {{appointment.provider.firstName}} {{appointment.provider.lastName}}
                                        </td>
                                        <td data-title="'Action'" align="left">
                                            <a ng-click="viewAppointment(appointment)" style="float: left;">View</a>
                                            <a ng-click="editAppointment(appointment)" style="float: right;">Edit</a>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</aside>


<script type="text/ng-template" id="appointmentview.html">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Appointment Details</h4>
    </div>

    <div class="modal-body model_con">
        <div class="row">
            <div class="col-sm-12">

                <div ng-if="data.listOfFailedConstraints.length > 0 && data.managerOverride" class="alert alert-danger clearfix" style="margin-right: 1.7%;">
                    <div class="col-sm-12">
                        <label>List of Constraints being violated:</label>
                    </div>
                    <div class="col-sm-12" style="float: right;">
                      <ul style="margin-left: 0px ; padding-left: 0px;">
                        <li ng-repeat="constraint in data.listOfFailedConstraints">{{constraint.constraint}}
                      </ul>
                    </div>
                </div>

            <div class="row model_row">
                <div class="col-sm-4">
                    <label>Patient Name</label>
                </div>
                <div class="col-sm-4">
                    {{data.patient.first_name}} {{data.patient.last_name}}
                </div>
            </div>
            <div class="row model_row" ng-if="data.patient.mobile_phone_number">
                <div class="col-sm-4">
                    <label>Patient Primary Phone Number</label>
                </div>
                <div class="col-sm-4">
                    {{data.patient.mobile_phone_number}}
                </div>
            </div>
            <div class="row model_row" ng-if="data.patient.home_phone_number">
                <div class="col-sm-4">
                    <label>Patient Alternate Phone Number</label>
                </div>
                <div class="col-sm-4">
                    {{data.patient.home_phone_number}}
                </div>
            </div>
            <div class="row model_row" ng-if="data.patient.work_phone_number">
                <div class="col-sm-4">
                    <label>Patient Work Phone Number</label>
                </div>
                <div class="col-sm-4">
                    {{data.patient.work_phone_number}}
                </div>
            </div>
            <div class="row model_row" ng-if="data.patient.email">
                <div class="col-sm-4">
                    <label>Patient Email ID</label>
                </div>
                <div class="col-sm-4">
                    {{data.patient.email}}
                </div>
            </div>
            <div class="row model_row">
                <div class="col-sm-4">
                    <label>Appointment Start Time</label>
                </div>
                <div class="col-sm-4">
                    {{data.appointment_start_time}}
                </div>
            </div>
            <div class="row model_row">
                <div class="col-sm-4">
                    <label>Appointment End Time</label>
                </div>
                <div class="col-sm-4">
                    {{data.appointment_end_time}}
                </div>
            </div>
            <div class="row model_row">
                <div class="col-sm-4">
                    <label>Appointment Date</label>
                </div>
                <div class="col-sm-4">
                    {{data.appointment_date | date : 'dd-MM-yyyy'}}
                </div>
            </div>
            <div class="row model_row">
                <div class="col-sm-4">
                    <label>Provider</label>
                </div>
                <div class="col-sm-4">
                    {{data.provider.firstName}} {{data.provider.lastName}} 
                </div>
            </div>
            <div class="row model_row">
                <div class="col-sm-4">
                    <label>Diagnosis</label>
                </div>
                <div class="col-sm-4">
                    {{data.diagnosis.title}}
                </div>
            </div>

            <div class="row model_row" ng-if="data.referrer">
                <div class="col-sm-4">
                    <label>Referrer</label>
                </div>
                <div class="col-sm-4">
                    {{data.referrer.first_name}} {{data.referrer.last_name}}
                </div>
            </div>

            <div class="row model_row">
                <div class="col-sm-4">
                    <label>Created Date</label>
                </div>
                <div class="col-sm-4">
                    {{data.created_date | date : 'dd-MM-yyyy'}}
                </div>
            </div>
            <div class="row model_row">
                <div class="col-sm-4">
                    <label>Created by</label>
                </div>
                <div class="col-sm-4">
                    {{data.created_by.username}}
                </div>
            </div>
            <div class="row model_row" ng-if="data.last_modified_on">
                <div class="col-sm-4">
                    <label>Modified Date</label>
                </div>
                <div class="col-sm-4">
                    {{data.last_modified_on | date : 'dd-MM-yyyy'}}
                </div>
            </div>
            <div class="row model_row" ng-if="data.last_modified_by">
                <div class="col-sm-4">
                    <label>Modified By</label>
                </div>
                <div class="col-sm-4">
                    {{data.last_modified_by.first_name}} {{data.last_modified_by.last_name}}
                </div>
            </div>
            <div class="row model_row">
                <div class="col-sm-4">
                    <label>Appointment Tasks</label>
                </div>
                <div class="col-sm-8" style="float: right;" ng-repeat="task in data.appointment_tasks">
                    {{task.title}}
                </div>
            </div>
            <div class="row model_row">
                <div class="col-sm-4">
                    <label>Appointment Id</label>
                </div>
                <div class="col-sm-4">
                    {{data._id}}
                </div>
<!--                 <div class="col-sm-4">
                    Mark as no show?
                    <input type="checkbox" ng-model="formData.noshow"><br>
                </div> -->
            </div>  

        </div>
    </div>
</script>

<style>
	.form-block {
	    width: 100%;
	    height: 40px;
	    padding-top: 3.2%;
	}

	.form-block input {
	    padding-top: 0;
	}


	/*Datepicker CSS*/

	.full button span {
	    background-color: limegreen;
	    border-radius: 32px;
	    color: black;
	}

	.partially button span {
	    background-color: orange;
	    border-radius: 32px;
	    color: black;
	}
</style>

<script type="text/ng-template" id="appointmentedit.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Appointment</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div ng-class="alerttype" ng-show="showmessage">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">x</button>
                {{message}}
            </div>
        </div>
        <div class="row"  ng-if="data.listOfFailedConstraints.length > 0 && data.managerOverride">
            <div class="alert alert-danger clearfix" style="margin-right: 1.7%;">
                <div class="col-sm-12">
                    <label>List of Constraints being violated:</label>
                </div>
                <div class="col-sm-12" style="float: right;">
                  <ul style="margin-left: 0px ; padding-left: 0px;">
                    <li ng-repeat="constraint in data.listOfFailedConstraints">{{constraint.constraint}}
                  </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <form name="myForm" novalidate>
                <!-- column 1 -->
                <div class="col-sm-4">
                    <div class="form-block">
                        <label>Patient Name</label>
                    </div>
                    <div class="form-block" ng-if="data.patient.mobile_phone_number">
                        <label>Patient Primary Phone Number</label>
                    </div>
                    <div class="form-block" ng-if="data.patient.home_phone_number">
                        <label>Patient Alternate Phone Number</label>
                    </div>
                    <div class="form-block" ng-if="data.patient.work_phone_number">
                        <label>Patient Work Phone Number</label>
                    </div>
                    <div class="form-block" ng-if="data.patient.email">
                        <label>Patient Email ID</label>
                    </div>
                    <div class="form-block">
                        <label>Appointment Start Time</label>
                    </div>
                    <div class="form-block">
                        <label>Appointment End Time</label>
                    </div>
                    <div class="form-block">
                        <label>Appointment Date</label>
                    </div>
                    <div class="form-block">
                        <label>Provider</label>
                    </div>
                    <div class="form-block">
                        <label>Diagnosis</label>
                    </div>
                    
                    <div class="form-block" ng-if="data.referrer">
                        <label>Referrer</label>
                    </div>

                    <div class="form-block">
                        <label>Created Date</label>
                    </div>
                    <div class="form-block">
                        <label>Created By</label>
                    </div>
                    <div class="form-block" ng-if="data.last_modified_on">
                        <label>Modified Date</label>
                    </div>
                    <div class="form-block" ng-if="data.last_modified_by">
                        <label>Modified By</label>
                    </div>
                    <div class="form-block">
                        <label>Appointment Id</label>
                    </div>
                </div>
                <!-- column 2 -->
                <div class="col-sm-4">
                    <div class="form-block">
                        {{data.patient.first_name}} {{data.patient.last_name}}
                    </div>
                    <div class="form-block" ng-if="data.patient.mobile_phone_number">
                        {{data.patient.mobile_phone_number}}
                    </div>
                    <div class="form-block" ng-if="data.patient.home_phone_number">
                        {{data.patient.home_phone_number}}
                    </div>
                    <div class="form-block" ng-if="data.patient.work_phone_number">
                        {{data.patient.work_phone_number}}
                    </div>
                    <div class="form-block" ng-if="data.patient.email">
                        {{data.patient.email}}
                    </div>
                    <div class="form-block">
                        <select class="form-control" ng-model="formData.appointment" ng-options="obj.start_time for obj in editslottimes track by obj.start_time" data-ng-change="calculateAppointmentTotalTime()">
                            <option value="" selected></option>
                        </select>
                    </div>
                    <div class="form-block">
                        <input class="form-control" type="text" ng-readonly="true" value="{{formData.end_time}}"></input>
                    </div>
                    <!-- DATEPICKER -->
                    <div class="form-block">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="formData.fromDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                        </p>
                    </div>
                    <div class="form-block">
                        <select class="form-control" ng-model="formData.provider" ng-options="obj.firstName+' '+obj.lastName for obj in providerData track by obj.firstName">
                            <option value="" selected></option>
                        </select>
                    </div>
                    <div class="form-block">
                        {{data.diagnosis.title}}
                    </div>

                    <div class="form-block" ng-if="data.referrer">
                        {{data.referrer.first_name}} {{data.referrer.last_name}}
                    </div>

                    <div class="form-block">
                        {{data.created_date | date : 'dd-MM-yyyy'}}
                    </div>
                    <div class="form-block">
                        {{data.created_by.username}}
                    </div>
                    <div class="form-block" ng-if="data.last_modified_on">
                        {{data.last_modified_on | date : 'dd-MM-yyyy'}}
                    </div>
                    <div class="form-block" ng-if="data.last_modified_by">
                        {{data.last_modified_by.first_name}} {{data.last_modified_by.last_name}}
                    </div>
                    <div class="form-block">
                        {{data._id}}
                    </div>
                </div>
                <!-- column 3 -->
                <!-- popup_dv-->
                <div class="col-sm-4 ">
                    <div class="form-block">
                        <label>Appointment Tasks</label>
                    </div>
                    <div class="clearfix">
                        <table class="table table-striped">
                            <tr>
                                <th width="10%">Action</th>
                                <th width="24%" class="tx-cen">Task</th>
                                <th width="25%" class="tx-cen">ETA Time(min)</th>
                            </tr>
                            <tr class="tblscheduling" ng-repeat="task in data.appointment_tasks">
                                <td>
                                    <button class="btn btn-danger" ng-click="removeTask(task , $index)"><i class="glyphicon glyphicon-minus"></i></button>
                                </td>
                                <td class="tx-cen">{{task.title}}</td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control etaclass" ng-model="task.time" ng-blur="calculateAppointmentTotalTime()" valid-number/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="tx-cen" style="padding-top: 5%">Total Time</td>
                                <td>
                                    <div class="">
                                        <input type="text" class="form-control etaclass1" readonly="readonly" value="{{formData.totalTime | number:2 }}" />
                                    </div>
                                </td>
                            </tr>
                            <tr class="tblscheduling1">
                                <td colspan="3">
                                    <label style="">Add Task</label>
                                    <button style="margin-left: 21%;" type="button" data-toggle="modal" ng-click="addTask()" class="btn btn-primary btn-flat bt-ft"><i class="glyphicon glyphicon-plus"></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-block">
                        <label>Mark as Patient No-Show:</label>
                        <input type="checkbox" ng-model="formData.noshow" style="margin-left: 15px; margin-top: 1.1%;
                        " />
                    </div>
                    <div class="form-block">
                        <button class="btn btn-primary" type="submit" ng-click="submit(formData)" style="margin-left: 25%;">Update Appt</button>
                        <button class="btn btn-danger" type="button" ng-click="delete()">Delete Appt</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>


<script type="text/ng-template" id="addschedulingtask.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="Cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ diagnosisId.title }} </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="">
                    <div class=" table-responsive">
                        <div ng-show="message" ng-class="alerttype" class="alert alert-dismissable ng-binding ng-hide">
                            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button> {{message}} </div>
                        <form name="apptTypeform" role="form" class="ng-pristine ng-valid">
                            <div class="box-body">
                                <div class="form-group">
                                    <select class="form-control" data-ng-model="task" ng-options="obj.title for obj in selectedTasks track by obj._id">
                                        <option value="">Select Task</option>
                                    </select>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer clearfix no-border">
                                    <button type="button" ng-disabled="!isEnable" ng-click="addTask()" data-ng-if="task._id" class="btn btn-primary btn-flat">Add Task</button>
                                </div>
                            </div>
                        </form>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="manageroverride.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="Cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" ng-if="data.listOfFailedConstraints[0].code != '1337'">Manager Override Option </h4>
        <h4 class="modal-title" ng-if="data.listOfFailedConstraints[0].code == '1337'">Unavailable Slot</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12" ng-if="data.listOfFailedConstraints[0].code != '1337'">
                <!-- {{data.listOfFailedConstraints}} -->
                <div>
                    <p>The following constraints are being violated while setting this appointment: </p>
                </div>
                <div>
                  <ul>
                    <li ng-repeat="constraint in data.listOfFailedConstraints">{{constraint.constraint}}
                  </ul>
                </div>
                <div>
                    Would you like to approve this appointment?
                </div>
                <div>
                    <button class="btn btn-success" ng-click="yes()">Approve</button>
                    <button class="btn btn-danger" ng-click="no()">Disapprove</button>
                </div>
            </div>
            <div class="col-xs-12" ng-if="data.listOfFailedConstraints[0].code == '1337'">
                <!-- {{data.listOfFailedConstraints}} -->
                <div>
                    <p>No Appointments can be booked on this slot currently , please select any other slot for this appointment</p>
                </div>
                <div>
                    <button class="btn btn-success" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</script>