<aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 data-ng-if="!task._id">Add Task</h1>
                    <h1 data-ng-if="task._id">Edit Task</h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="/#/office-tasks">Tasks</a></li> 
                        <li data-ng-if="!task._id">Add</li>
                        <li data-ng-if="task._id">Edit</li>                         
                    </ol>
                </section>
                <!-- Main content -->

                <section class="content" data-ng-init="findOne()">
            <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{'active': activeTab === 0}" id="tab_1">
                         <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-body table-responsive">
                                        <div class = "alert alert-dismissable" ng-class="alerttype" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div> 
                                        <form role="form" name="taskForm">
                                        <div class="box-body">
                                        <div class="form-group">
                                            
                                            <!-- <label>Select Office:</label>
                                            <select class="form-control" ng-model="task.office_id" ng-options="obj.title for obj in officeData track by obj._id">
                                            <option value="">Select Office</option>
                                            </select> -->

                                            <label>Task Title:*</label>
                                            <input type="text" class="form-control" name="title" ng-model="task.title" placeholder="Enter Task Title" required>
                                            <span class="texterror" ng-show="taskForm.title.$touched && taskForm.title.$invalid">This is a required field. </span>
                                                
                                            <label>Task Code:</label>
                                            <input type="text" class="form-control"  ng-model="task.code" placeholder="Enter Task Code">
                                                
                                            <!-- <label>Time</label>
                                            <input type="text" class="form-control"  ng-model="task.time" placeholder="Enter Time"> -->
                                            <label>Status:</label>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name='enable'  ng-model='task.enable' checked="{{enableChecked}}"/>
                                                    Enable
                                                </label>
                                            </div>                                          
                                    </div>
                                   
                                </form>              
                                  </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div><!-- /.tab-content -->
          </div>
          <div class="box-footer clearfix no-border">
                <button data-ng-if="!task._id" class=" btn m_lft5  btn-primary pull-right" data-ng-click="updateData(0)"><i class="fa fa-check p-r-10"></i>Add Task</button>
                <button data-ng-if="task._id" class="btn m_lft5 btn-primary pull-right" data-ng-click="updateData(1)"><i class="fa fa-check p-r-10"></i>Update</button>
                <a class="btn btn-primary m-r-10 pull-right m_lft5" href="/#/office-tasks"><i class="fa fa-reply p-r-10"></i>Cancel</a>
                <!--<button class="btn btn-default m-r-10 pull-right" ng-click="cleardata()" href="#"><i class="fa fa-reply"></i>Clear</button>-->
          </div>
      </div>
  </div>

  </section><!-- /.content -->
            </aside><!-- /.right-side -->   