 <aside class="right-side" ng-init="gridInit()">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                       Edit Base Task Times                        
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li>Base Task Time Adjustments</li>                       
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-body ">
                                    <div ng-class="alerttype" ng-show="showmessage"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>  
                            <div class="box">
                                
                                <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                </div> -->
                                 <div class="box-body ">
                                    <div class="clearfix" style="padding-bottom:15px;">
                                            <div class="box-body ">
                                            <form name="searchTask" novalidate ng-submit="tasksSearch()">
                                            </form>
                                           
                                            <div class="clearfix">
                                            <!-- <div class="pull-left m_btm15"><p  align='right' class="strong">Select Office:</p></div>
                                            <div class="pull-right m_lft5" style="float:left !important;">
                                             <select class="form-control" ng-model="office_id" ng-options="obj._id as obj.title for obj in officeData " ng-change="changeOffice(office_id)">
                                            <option value="">Select Office</option>
                                            </select>

                                            </div> -->
                                             
                                            <div class="pull-left m_btm15"><p  align='right' class="strong"  >Select Diagnose:</p></div>
                                            <div class="pull-right m_lft5" style="float:left !important;">


                                              <select class="form-control" ng-model="diagnosis" ng-options="obj._id as obj.title for obj in diags" ng-change="changeDiagnose()" style="width:auto;display:inline-block">
                                                <option value="">Select</option>
                                              </select>
                                              </div>

                                             <div class="clearfix"></div>
                               
                              </div>                         

                           <form role="form">
 
            <!-- New Page  -->
                    <div class="row" ng-show="diagnosis">
                        <div ng-class="{'col-xs-12': !isEditGrid , 'col-xs-11': isEditGrid}"  >
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                    <div style="margin-top: 0.7%; color: #367FA9; ">
                                        The entered value will be consider in minutes                        
                                    </div>
                                    <div class="box-tools">
                                        <div class="input-group">
                                        </div>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th width="10%">Appt Type </th>
                                            
                                            <th class="align-center" colspan="{{taskData.length }}">Tasks </th>
                                            
                                        </tr> 

                                        <tr>
                                            <th></th>
                                            <th ng-repeat="task in taskData">{{task.title}}</th>
                                        </tr>
                                        <tr ng-repeat="obj in appt">
                                            <td>{{obj.title }}</td>
                                            <td ng-repeat="task in taskData" >
                                            <input type="text" ng-model="gridData[obj._id][task._id]" valid-number  change-on-blur="updateValue(gridData, obj._id, task._id, this)"  class="form-control"  id="{{obj._id}}-{{task._id}}" ng-disabled="!isEditGrid"/></td>    
                                        </tr>
                                        <!-- numbers-only="numbers-only" -->
                                     </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                         <div class="col-xs-1" ng-if="isEditGrid" >
                            <div class="pull-left m_btm15" style="margin-left:-21px; padding: 0 0 0 9px;"  ng-show="isEditGrid">
                                <bitton  ng-click="addTask()" align="right" class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>
                                Tasks</a>
                            </div>

                         </div>

                    </div>

                    <div ng-show="diagnosis && isEditGrid"  >
<!--                         <div class=" row col-xs-12">
                           <div class="pull-left m_btm15">
                                <button ng-click="addApptType()"  align="right" class="btn btn-primary"><i class="fa fa-plus p-r-10"></i> Appt Type</button>
                            </div>
                        </div>
 -->

                        <div class="col-xs-12">
                           <div class="pull-left m_btm15">
                           <!-- ui-sref="default-appointmenttype" -->
                                <button ng-click="addApptType()"  align="right" class="btn btn-primary"><i class="fa fa-plus p-r-10"></i> Appt Type</button>
                            </div>
                        </div>





                    </div>



            <!-- New Page End  -->

                                </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->


            <!-- page script -->

        <!-- <div class="modal fade" id="permission-info" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
        </div> -->
<script type="text/ng-template" id="addappttype.html">

   <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="Cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Appointment Type</h4>
    </div>
  
        <div class="modal-body">
        <div class="row">

        <div class="col-xs-6">
                    <div class="">
                        <div class=" table-responsive">
                        <div ng-show="message2" ng-class="alerttype" class="alert alert-dismissable ng-binding ng-hide">
                            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button> {{message2}}
                        </div>
                        
                            <div ng-show="diagmessage" ng-class="alerttype" class="alert alert-dismissable ng-binding ng-hide"><button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button> {{diagmessage}} </div> 
                                                            
                            <form role="form" name="ApptType">
                                <div class="box-body">
                                    <div class="form-group">
                                            
                                        <label>Appointments Types *</label>
                                         <div ng-repeat = "at in appointmentTypeList"> <input type="checkbox" ng-model="at.selected"/> {{at.title }} </div>

                                    </div>

                                    <div class="box-footer clearfix no-border">
                                        <button type="button"  class="btn m_lft5 btn-primary pull-right" data-ng-click="updateDiag(1)"><i class="fa fa-check"></i> Update </button>
                                    </div>

                                </div>

                           
                            </form> 
                        <!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
        </div>
        <div class="col-xs-6">
            <div class="">
                <div class=" table-responsive">
                    <div ng-show="message" ng-class="alerttype" class="alert alert-dismissable ng-binding ng-hide"><button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button> {{message}} </div> 
                                                    
                        <form role="form" name="taskForm">
                        <div class="box-body">
                        <div class="form-group">


                            <label>Title:*</label>
                            <input type="text" class="form-control"  ng-model="apptType.title" placeholder="Enter  Title" name="title" required>
                            <span ng-show="taskForm.title.$invalid && taskForm.title.$touched " class="texterror">Enter title.</span>
                            </div>
                                <div class="form-group">
                            <label>Description:*</label>
                            <input type="text" class="form-control"  ng-model="apptType.description" placeholder="Enter Description" name="code" required>
                            <span ng-show="taskForm.code.$invalid && taskForm.code.$touched " class="texterror">Enter Description.</span>
                            </div>
                            <div class="form-group">
                            <label>Status:</label>
                            <div class="checkbox status-check">
                                <label>
                                    <input type="checkbox" name='enable'  ng-model='apptType.enable' checked="{{enableChecked}}"/>
                                    Enable
                                </label>
                            </div> 

                            <button data-ng-click="updatedData(0)" class="btn m_lft5  btn-primary pull-right ng-scope" data-ng-if="!apptType._id"><i class="fa fa-check"></i> Add Appt Type</button>
                            
                            <button ng-click="cancel()"  class="btn btn-primary m-r-10 pull-right m_lft5" ><i class="fa fa-reply p-r-10"></i>Cancel</button>

                      </div>
                    </div>

                   
                </form> 
                <!-- /.box-body -->
            </div><!-- /.box -->
        </div>

        
                    </div>

                </div>
        </div>
</script>
          

          <script type="text/ng-template" id="addtaskmodal.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="Cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Task</h4>
    </div>
  
        <div class="modal-body">
<div class="row">
                        <div class="col-xs-12">
                            <div class="">
                                <div class=" table-responsive">
                                    <div ng-class="alerttype" ng-show="showmessage"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                                                                    
                                         <form role="form" name="taskForm">
                                                                                <div class="box-body">
                                                                                    <div class="form-group">
                                                                                        <label>Task Title: *</label>
                                                                                        <input type="text" class="form-control"  ng-model="task.title" placeholder="Enter Task Title" name="title" required />
                                                                                          <span class="texterror" ng-show="taskForm.title.$touched && taskForm.title.$invalid">The title is required.</span>
                                                                    </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label>Task Code *</label>
                                                                                        <input type="text" class="form-control"  ng-model="task.code" placeholder="Enter Task Code"  name="code"  required />
                                                                                        <span class="texterror" ng-show="taskForm.code.$touched && taskForm.code.$invalid">The code is required.</span>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label>Status:</label>
                                                                                        <div class="checkbox status_check">
                                                                                            <label>
                                                                                                <input type="checkbox" name='enable'  ng-model='task.enable' checked="{{enableChecked}}"/>
                                                                                                Enable
                                                                                            </label>
                                                                                        </div>
                                                                                        <button data-ng-click="updatedData(0)" class="btn m_lft5  btn-primary pull-right ng-scope" data-ng-if="!task._id" ng-disabled="taskForm.$invalid"><i class="fa fa-check"></i>Add Task</button>
                                                                                        
                                                                                        <button ng-click="cancel()"  class="btn btn-primary m-r-10 pull-right m_lft5" ><i class="fa fa-reply p-r-10"></i> Cancel</button>
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                            </form> 
                                <!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </div>
        </div>
        

</script>     