<aside class="right-side" ng-init="findtaskslist()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
                       Manage Tasks                       
                    </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Manage Tasks</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive">
                    <div ng-show="showmessage" ng-class="alerttype" ng-show="message">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                    <div class="box">
                        <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                </div> -->
                        <div class="box-body table-responsive">
                            <div class="clearfix" style="padding-bottom:15px;">
                                <div class="box-body table-responsive">
                                    <div class="clearfix">
                                        <!-- <div class="pull-left m_lft5" style="padding-bottom:15px;">
                                            <form name="">
                                                <select class="form-control" ng-model="searchTasks.office_id" ng-options="obj.title for obj in officeData track by obj._id" style="width:62%;display:inline-block;">
                                                    <option value="">Select Office</option>
                                                </select>
                                               <button class="btn btn-primary pull-right" data-ng-click="findtaskslist()">Search</button>
                                            </form>
                                            </div> -->
                                        <div class="clearfix"></div>
                                        <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                            <div class="input-group">
                                                <span class="input-group-addon">Except for...
                                        <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                      </span>
                                                <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                                <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                          <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                    <form role="form">
                                        <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                                            <colgroup>
                                                <col width="5%" ng-if="isEditAppointmentOpt"/>
                                                <col width="5%" />
                                                <col width="40%" />
                                                <col width="5%" ng-if="isEditAppointmentOpt"/>
                                                <col width="5%" ng-if="isEditAppointmentOpt"/>
                                            </colgroup>
                                            <tr ng-repeat="task in $data">
                                                <td header="'headerCheckbox.html'" ng-if="isEditAppointmentOpt">
                                                    <input type='checkbox' ng-model="checkboxes.items[task._id]" ng-change="toggleSelection(task._id)" />
                                                </td>
                                                <td data-title="'Status'" sortable="'enable'" align='left'>
                                                    <div ng-if="task.enable==true"><img src='images/enable.png' border='0'></div>
                                                    <div ng-if="task.enable==false"><img src='images/disable.png' border='0'></div>
                                                </td>
                                                <td data-title="'Task'" sortable="'title'" filter="{title:'text'}" align="left">{{task.title}}</td>
                                                <!-- <td data-title="'Task'" sortable="'title'" filter="{title:'text'}" align="left"><a href="/#/office-tasks/edit/{{task._id}}" alt="Click to edit" title="Click to edit">{{task.title}}</a></td> -->
                                                <td data-title="'Code'" sortable="'code'" filter="{code:'text'}" align="left">{{task.code}}</td>
                                                <!-- <td data-title="'Time'" sortable="'time'" filter="{time:'text'}" align="left">{{task.time}}</td>
                                                
                                                <td data-title="'Diagnosis'" sortable="'diagnosis.title'" filter="{title:'text'}" align="left">{{task.diagnosis.title}}</td>

                                                <td data-title="'AppointmentType'" sortable="'appointmentType.title'" filter="{title:'text'}" align="left">{{task.appointmentType.title}}</td> -->
                                                <td data-title="'Action'" sortable="'title'" filter="{title:'text'}" align="left" ng-if="isEditAppointmentOpt"><a href="/#/office-tasks/edit/{{task._id}}"   alt="Click to edit" title="Click to edit"><i class="glyphicon glyphicon-edit"></i></a></td>
                                                <td ng-if="isEditAppointmentOpt">
                                                    <button class="btn btn-success btn-xs" data-toggle="tooltip" title="Shift Up" ng-show="$index != 0" ng-click="updateFieldUp(task._id,task.sortBy,$index,$data.length)"><i class="glyphicon glyphicon-chevron-up"></i></button>
                                                    <button class="btn btn-warning btn-xs" data-toggle="tooltip" title="Shift Down" ng-show="$index != $data.length - 1" ng-click="updateFieldDown(task._id,task.sortBy,$index,$data.length)"><i class="glyphicon glyphicon-chevron-down"></i></button>
                                                </td>
                                            </tr>
                                            <tr ng-if="isEditAppointmentOpt">
                                                <td colspan='2'>
                                                    <div class="form-group"><a ui-sref='office-tasks-add' align='right'   class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>Add New Task</a></div>
                                                </td>
                                                <td colspan='5'>
                                                    <div class="form-group" style="width:20%;display:inline-block;margin-right:1%;">
                                                        <select class="form-control" name='selectedAction' id='selectedAction'>
                                                            <option value="0">Select</option>
                                                            <option value="1">Enable</option>
                                                            <option value="2">Disable</option>
                                                            <option value="3">Delete</option>
                                                        </select>
                                                    </div>
                                                    <input type='button' name='go' value='Go' class='btn btn-primary' ng-click="performAction()" style="width:auto;display:inline-block">
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
<!-- page script -->
<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" />
</script>
