<div class="modal fade" id="plan-info" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Plan Information</h4>
            </div>
            <div class="modal-body">
                <h4>Plan Name : {{subscriberplaninfo[0].plan.title}}</h4>
                <br>
                <h4>Start Date : {{subscriberplaninfo[0].startDate | date}}</h4>
                <br>
                <h4>End Date : {{subscriberplaninfo[0].endDate | date}}</h4>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<aside class="right-side" ng-init="getAllActiveSubscribers()" ng-cloak>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Active Users
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Active Users</li>
        </ol>
    </section>
    <!-- COMPOSE MESSAGE MODAL -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive" ng-cloak>
                    <div ng-class="alerttype" ng-if="showmessage == true">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                    <div class="box">
                        
                        <div class="box-body table-responsive">
                            <div class="clearfix">
                                <div class="clearfix"></div>
                                <!-- <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                    <div class="input-group">
                                        <span class="input-group-addon">Except for...
                                            <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                        </span>
                                        <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </form> -->
                            </div>
                            <form role="form">
                                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                                    <colgroup>
                                    
                                    <col width="15%" />
                                    <col width="20%" />
                                    <col width="20%" />
                                    <col width="15%" />
                                    <col width="10%" />
                                    </colgroup>
                                    <tr ng-repeat="user in $data | filter:getFullName">
                                        
                                       
                                        <td data-title="'Company Name'" sortable="'company'" filter="{company:'text'}" align="left">{{user.company}}</td>
                                        <td data-title="'Subscriber'" sortable="'fullName'" filter="{fullName:'text'}" align="left">{{ user.fullName }}</td>
                                        <td data-title="'Email'" sortable="'email'" filter="{email:'text'}" align="left">{{user.email}}</td>
                                        <td data-title="'Plan'">
                                            {{ user.plan.title }}
                                        </td>
                                        <td data-title="'Joined Date'">
                                          {{user.created_date | date:'yyyy-MM-dd'}}
                                        </td>
                                        <td data-title="'Plan Expired Date'">
                                          {{user.endDate | date:'yyyy-MM-dd'}}
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
    <!-- page script -->
