<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 data-ng-if="!user._id">Add Subscriber</h1>
        <h1 data-ng-if="user._id">Edit Subscriber</h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/#/subscribers">Subscribers</a></li>
            <li data-ng-if="!user._id">Add</li>
            <li data-ng-if="user._id">Edit</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" data-ng-init="findOne()" ng-cloak>
        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{'active': activeTab === 0}" id="tab_1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div class="box-body table-responsive">
                                            <div class="alert alert-dismissable" ng-class="alerttype" ng-show="message">
                                                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                                            <form role="form" name="subscriberform">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label>Company:</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-building-o"></i>
                                                            </div>
                                                            <input type="text" class="form-control" ng-model="user.company" placeholder="Enter Company Name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>First Name:*</label>
                                                        <input type="text" class="form-control" ng-model="user.first_name" name="fname" placeholder="Enter Firstname" required>
                                                        <span class="texterror" ng-show="subscriberform.fname.$touched && subscriberform.fname.$invalid">Enter First Name.</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Last Name:*</label>
                                                        <input type="text" class="form-control" ng-model="user.last_name" name="lname" placeholder="Enter Lastname" required>
                                                        <span class="texterror" ng-show="subscriberform.lname.$touched && subscriberform.lname.$invalid">Enter Last Name.</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Email:*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon">@</div>
                                                            <input type="email" class="form-control" name="email" ng-model="user.email" placeholder="Enter Email" required>
                                                        </div>
                                                        <span class="texterror help-block" ng-show=" subscriberform.email.$error.email" class="help-block">Enter a valid email address.</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Username:*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="glyphicon glyphicon-user"></i>
                                                            </div>
                                                            <input type="text" class="form-control" ng-model="user.username" placeholder="Enter Username" name="uname" required>
                                                        </div>
                                                        <span ng-show="subscriberform.uname.$invalid && subscriberform.uname.$touched " class="texterror">Enter Username</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <span ng-show="user._id">
                                                            <div class="clearfix">
                                                            <label>Change Password <input type="checkbox" name="changepassword" ng-model="user.userchangepassword"> ||
                                                            Renew Plan</label> <input type="checkbox" name="renewplan" ng-model="user.renewplan" ng-click="getPlanInfo(user._id)">
                                                            </div>
                                                        </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label ng-show="user.userchangepassword || !user._id">Password:*</label>
                                                        <div class="input-group" ng-show="user.userchangepassword || !user._id">
                                                            <div class="input-group-addon">
                                                                <i class="glyphicon glyphicon-lock"></i>
                                                            </div>
                                                            <input type="password" class="form-control" ng-model="user.password" placeholder="Enter password" name="upass" required="!user._id || user.userchangepassword">
                                                        </div>
                                                        <span ng-show="subscriberform.upass.$invalid && subscriberform.upass.$touched" class="texterror">Enter Password</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label ng-if="user.renewplan && user._id">Existing Plan Details:</label>
                                                        <div ng-if="user.renewplan && user._id">
                                                            <h7>Plan Name : {{subscriberplaninfo[0].plan.title}}</h7>
                                                            <br>
                                                            <h7>Start Date : {{subscriberplaninfo[0].startDate | date}}</h7>
                                                            <br>
                                                            <h7>End Date : {{subscriberplaninfo[0].endDate | date}}</h7>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label ng-if="user.renewplan || !user._id">Plan:*</label>
                                                        <select class="form-control" ng-if="user.renewplan || !user._id" ng-model="user.plan" ng-options="obj as obj.title for obj in plans" name="plan" required="!user._id || user.renewplan">
                                                            <option value="" disabled selected>{{user.plan.title}}</option>
                                                        </select>
                                                        <span class="texterror" ng-show="subscriberform.plan.$touched && subscriberform.plan.$invalid">Choose a plan</span>
                                                    </div>
                                                    <div class="" style="display: inline-block;">
                                                        <label>Auto-Renew Plan:</label>
                                                        <div class="checkbox status_check">
                                                            <label>
                                                                <input type="checkbox" name='enable' ng-model='user.autorenew' /> Enable
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="" style="display: inline-block; margin-left: 30%;">
                                                        <label>Subscriber Status:</label>
                                                        <div class="checkbox status_check">
                                                            <label>
                                                                <input type="checkbox" name='enable' ng-model='user.enable' checked="{{enableChecked}}" /> Enable
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <div class="box-footer clearfix no-border">
                <button data-ng-if="!user._id" class=" btn m_lft5  btn-primary pull-right" data-ng-click="updateData(0)" ng-disabled="subscriberform.$invalid"><i class="fa fa-check"></i> Add Subscriber</button>
                <button data-ng-if="user._id" class="btn m_lft5 btn-primary pull-right" data-ng-click="updateData(1)"><i class="fa fa-check"></i> Update Subscriber</button>
                <a class="btn btn-primary m-r-10 pull-right m_lft5" href="/#/subscribers"><i class="fa fa-reply p-r-10"></i>Cancel</a>
                <!--<button class="btn btn-default m-r-10 pull-right" ng-click="cleardata()" href="#"><i class="fa fa-reply"></i>Clear</button>-->
            </div>
        </div>
        </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
