<div class="modal fade" id="plan-info" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Plan Information</h4>
            </div>
            <div class="modal-body">
                <h4>Plan Name : {{subscriberplaninfo[0].plan.title}}</h4>
                <br>
                <h4>Start Date : {{subscriberplaninfo[0].startDate | date}}</h4>
                <br>
                <h4>End Date : {{subscriberplaninfo[0].endDate | date}}</h4>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<aside class="right-side" ng-init="getAllUsers()" ng-cloak>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Subscribers
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Subscribers Management</li>
        </ol>
    </section>
    <!-- COMPOSE MESSAGE MODAL -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive" ng-cloak>
                    <div ng-class="alerttype" ng-if="showmessage == true">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                    <div class="box">
                        
                        <div class="box-body table-responsive">
                            <div class="clearfix">
                                <div class="clearfix"></div>
                                <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                    <div class="input-group">
                                        <span class="input-group-addon">Except for...
                                            <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                        </span>
                                        <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <form role="form">
                                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                                    <colgroup>
                                    <col width="5%" />
                                    <col width="5%" />
                                    <col width="15%" />
                                    <col width="20%" />
                                    <col width="20%" />
                                    <col width="15%" />
                                    <col width="10%" />
                                    </colgroup>
                                    <tr ng-repeat="user in $data | filter:getFullName">
                                        <td header="'headerCheckbox.html'">
                                            <input type='checkbox' ng-model="checkboxes.items[user._id]" ng-change="toggleSelection(user._id)" />
                                        </td>
                                        <td data-title="'Status'" sortable="'enable'" align='left'>
                                            <div ng-if="user.enable==true"><img src='images/enable.png' border='0'></div>
                                            <div ng-if="user.enable==false"><img src='images/disable.png' border='0'></div>
                                        </td>
                                        <td data-title="'Company Name'" sortable="'company'" filter="{company:'text'}" align="left">{{user.company}}</td>
                                        <td data-title="'Subscriber'" sortable="'fullName'" filter="{fullName:'text'}" align="left">{{ user.fullName }}</td>
                                        <!--  <td data-title="'Subscriber'" sortable="'fullName'" filter="{fullName:'text'}" align="left"><a href="/#/subscribers/edit/{{user._id}}" alt="Click to edit" title="Click to edit">{{ user.fullName }}</a></td> -->
                                        <td data-title="'Email'" sortable="'email'" filter="{email:'text'}" align="left">{{user.email}}</td>
                                        <td data-title="'Subscriber Login'">
                                            <a title="Log in as Subscriber" ng-click="subscriberProfile(user._id , user)"><b>Log in as Subscriber</b></a>
                                        </td>
                                        <td data-title="'Actions'">
                                            <a href="/#/subscribers/sub_history/{{user._id}}" title="Subscription History"><i class="fa fa-history"></i></a> |
                                            <a title="Plan Info" data-target="#plan-info" data-toggle="modal" ng-click="getPlanInfo(user._id)" title="Plan Information"><i class="glyphicon glyphicon-info-sign"></i></a> |
                                            <a title="View/Edit Subscriber Profile" href="/#/subscribers/edit/{{user._id}}"><i class="glyphicon glyphicon-edit"></i></a>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td colspan='2'>
                                            <div class="form-group"><a href='/#/subscribers/add' align='right' class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>Add New Subscriber</a></div>
                                        </td>
                                        <td colspan='5'>
                                            <div class="form-group" style="width:20%;display:inline-block;margin-right:1%;">
                                                <select class="form-control" name='selectedAction' id='selectedAction'>
                                                    <option value="" disabled selected>Select</option>
                                                    <option value="1">Enable</option>
                                                    <option value="2">Disable</option>
                                                    <option value="3">Delete</option>
                                                </select>
                                            </div>
                                            <input type='button' name='go' value='Go' class='btn btn-primary' ng-click="performAction()" style="width:auto;display:inline-block">
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
    <!-- page script -->
    <script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" />
    </script>
