
<aside class="right-side"  ng-cloak>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Manage Reports                       
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Manage Reports</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
               <ul class="list-group">
                  <li class="list-group-item"> <a ui-sref="active-subscribers">Active Subscribers</a></li>
               </ul>
            </div>
        </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
<!-- page script -->
