<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 data-ng-if="!providers._id">Add Provider</h1>
        <h1 data-ng-if="providers._id">Edit Provider</h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a ui-sref="providers">providers</a></li>
            <li data-ng-if="!providers._id">Add</li>
            <li data-ng-if="providers._id">Edit</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" data-ng-init="findOne()" ng-cloak>
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{'active': activeTab === 0}" id="tab_1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div class="box-body table-responsive">
                                            <div class = "alert alert-dismissable" ng-class="alerttype" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                                            <form role="form" name="providerForm">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <div class="col-sm-6 col-xs-12">
                                                            <div class="form-group">
                                                                <div class="form-elements label-up-active">
                                                                    <label>First Name: *</label>
                                                                    <input name="fname" type="text" class="form-control" ng-model="providers.firstName" placeholder="Enter providers first name" required>
                                                                    <span class="texterror" ng-show="providerForm.fname.$touched && providerForm.fname.$invalid"><b>First name is required.</b></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-12">
                                                            <div class="form-group">
                                                                <div class="form-elements label-up-active">
                                                                    <label>Last Name: *</label>
                                                                    <input type="text" name="lname" class="form-control" ng-model="providers.lastName" placeholder="Enter providers last name" required/>
                                                                    <span class="texterror" ng-show="providerForm.lname.$touched && providerForm.lname.$invalid"><b>Last name is required.</b></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <div class="form-elements label-up-active">
                                                                    <label>Specialization: *</label>
                                                                    <input type="text" name="specialization" class="form-control"  ng-model="providers.specialization" placeholder="Enter specialization" required>
                                                                    <span class="texterror" ng-show="providerForm.specialization.$touched && providerForm.specialization.$invalid"><b>Specialization is required.</b></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-12">
                                                            <div class="form-group">
                                                                <div class="form-elements label-up-active">
                                                                    <label>Offices: *</label>
                                                                    <div ng-repeat = "office in officeList"> <input type="checkbox" ng-model="office.selected" /> {{office.title }} 
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                            <div class="col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                    <div class="form-elements label-up-active">
                                                                        <label>Status:</label>
                                                                        <!-- checkbox -->
                                                                        <div class="">
                                                                            <div>
                                                                                <input type="checkbox" name='enable'  ng-model='providers.enable' checked="{{enableChecked}}"/>
                                                                                Enable
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        
                                                                    </div>
                                                                </div>
                                                                
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div><!-- /.tab-content -->
                    </div>
                    
                    <div class="box-footer clearfix no-border">
                        <button data-ng-if="!providers._id" class=" btn m_lft5  btn-primary pull-right" data-ng-click="updateData(0)" ng-disabled="providerForm.$invalid"><i class="fa fa-check p-r-10"></i> Add Provider</button>
                        <button data-ng-if="providers._id" class="btn m_lft5 btn-primary pull-right" data-ng-click="updateData(1)" ng-disabled="providerForm.$invalid"><i class="fa fa-check p-r-10"></i> Update Provider</button>
                        <a class="btn btn-primary m-r-10 pull-right m_lft5" ui-sref="providers"><i class="fa fa-reply p-r-10"></i> Cancel</a>
                        <!--<button class="btn btn-default m-r-10 pull-right" ng-click="cleardata()" href="#"><i class="fa fa-reply"></i>Clear</button>-->
                    </div>
                </div>
            </div>
            
            </section><!-- /.content -->
            </aside><!-- /.right-side -->