<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Providers
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a ui-sref="providers">providers</a></li>
            <li>Add</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" data-ng-init="findProvider()" ng-cloak>
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{'active': activeTab === 0}" id="tab_1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div class="box-body table-responsive">
                                            <div ng-class="alerttype" ng-show="showmessage">
                                            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                                            <form role="form" name="officeForm">
                                                <div class="box-body">
                                                    
                                                    <div class="form-group">
                                                        <label>Provider Name:</label>
                                                        {{providerName}}
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Office:</label> {{officeTitle}}
                                                    </div>
                                                    <div class="form-group">
                                                        <b>Available Days: *</b>
                                                        <label ng-repeat="day in days" class="checkbox-inline">
                                                            <input  type="checkbox" name="selectedDays[]" value="{{day}}"
                                                            ng-checked="workingdaysselection.indexOf(day) > -1" ng-click="editaccessdays(day)"
                                                            ng-model="days"> {{day}}
                                                        </label>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label>Provider Hours: *</label>
                                                        <div class="clearfix">
                                                            <div class="col-sm-7">
                                                                
                                                                <div class="form-group row clearfix clockinput">
                                                                    <div class="left" class="col-xs-6">
                                                                        <label> <small><u>From:</u></small></label>
                                                                         <uib-timepicker ng-model="mytime" hour-step="1" minute-step="1" show-meridian="true"  required ></uib-timepicker>
                                                                    </div>
                                                                    <div class="right" class="col-xs-6">
                                                                        
                                                                        <label><small><u>To:</u></small></label>
                                                                        <uib-timepicker ng-model="mytime1" hour-step="1" minute-step="1" show-meridian="true"  required ></uib-timepicker>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <div class="box-footer clearfix no-border">
                <button class="btn m_lft5 btn-primary pull-right" data-ng-click="updateProvider()" ng-disabled="officeForm.$invalid"><i class="fa fa-check"></i>Update</button>
                <a class="btn btn-primary m-r-10 pull-right m_lft5" ui-sref="providers({officeId:office_id})"><i class="fa fa-reply p-r-10"></i>Cancel</a>
                <!--<button class="btn btn-default m-r-10 pull-right" ng-click="cleardata()" href="#"><i class="fa fa-reply"></i>Clear</button>-->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
</aside>
<!-- /.right-side -->