<style type="text/css">
    .ng-table-counts.btn-group.pull-right.ng-scope {margin-top: 20px;}
</style>

<aside class="right-side" ng-init="fetchOffice()" ng-cloak >
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Manage Providers
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Providers</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" >
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive">
                    <div ng-class="alerttype" ng-show="showmessage">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                    <div class="box">
                        <div class="box-body table-responsive">
                            <div class="clearfix">
<!--                                 <div class="pull-left m_btm15">
                                    <label>Select Office:</label>
                                    
                                    <select class="btn" ng-model="office_id" ng-options="x._id as x.title for x in offices" ng-change="fetchOffice()">
                                        <option value="">Select Office</option>
                                       
                                    </select>
                                </div> -->
                                <div class="clearfix"></div>
                                <!-- NEED TO MAKE THIS WORK++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
                                <form name="searchForm" novalidate ng-submit="fetchOffice()">   
                                    <div class="input-group">
                                        <span class="input-group-addon">Except for...
                                        <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                      </span>
                                        <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                        <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                          <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <form role="form">
                                <table id="example1" ng-table="tableParams" class="table table-bordered table-striped" show-filter="isFiltersVisible">
                                    <colgroup>
                                    <col width="5%" />
                                    <col width="5%" />
                                    <col width="20%" />
                                    <col width="20%" />
                                    <col width="40%" />
                                    <col width="10%" />
                                    </colgroup>
                                    <tr ng-repeat="provider in $data">
                                        <td header="'headerCheckbox.html'">
                                            <input type='checkbox' ng-model="checkboxes.items[provider._id]" ng-change="toggleSelection(provider._id)" />
                                        </td>
                                        <td data-title="'Status'" align='left'>
                                            <div ng-if="provider.enable==true"><img src='images/enable.png' border='0'></div>
                                            <div ng-if="provider.enable==false"><img src='images/disable.png' border='0'></div>
                                        </td>
                                        <td data-title="'Name'" align="left">{{provider.firstName}} {{provider.lastName}} </td>
                                       <!--  <td data-title="'Name'" align="left"><a href="/#/providers/edit/{{provider._id}}" alt="Click to edit" title="Click to edit">{{provider.firstName}}&nbsp;{{provider.lastName}} </a></td> -->
                                        <td data-title="'Specialization'" filter="{specialization:'text'}" align="left">{{provider.specialization}}</td>
                                        <td data-title="'Offices'" align="left">
                                            <span ng-repeat="office in provider.offices">
                                                {{office.title}}
                                                <span ng-if="!$last"> ,&nbsp; </span>
                                            </span>
                                        </td>
                                        <td data-title="'Actions'" align="left">
                                            <a href="/#/providers/editConstraints/{{provider._id}}/{{office_id}}" title="Availability"><i class="glyphicon glyphicon-calendar"></i></a> | <a href="/#/providers/edit/{{provider._id}}/{{office_id}}" title="Click to edit"><i class="glyphicon glyphicon-edit"></i></a> </td>
                                        </tr>
                                        <tr>
                                            <td colspan='2'>
                                                <div class="form-group"><a ui-sref="providers-add" align='right' class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>Add Provider</a></div>
                                            </td>
                                            <td colspan='5'>
                                                <div class="form-group" style="width:20%;display:inline-block;margin-right:1%;">
                                                    <select class="form-control" name='selectedAction' id='selectedAction'>
                                                        <option value="0">Select</option>
                                                        <option value="1">Enable</option>
                                                        <option value="2">Disable</option>
                                                        <option value="3">Delete</option>
                                                    </select>
                                                </div>
                                                <input type='button' name='go' value='Go' class='btn btn-primary' ng-click="performAction()" style="width:auto;display:inline-block;margin-right:1%;">
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
    <!-- page script -->
    <script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" />
    </script>