<aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 data-ng-if="!patient._id">Add Patient</h1>
                    <h1 data-ng-if="patient._id">Edit Patient</h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="/#/patients">Patients</a></li> 
                        <li data-ng-if="!patient._id">Add</li>
                        <li data-ng-if="patient._id">Edit</li>                      
                    </ol>
                </section>
                <!-- Main content -->

                <section class="content" data-ng-init="findOne()">
            <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{'active': activeTab === 0}" id="tab_1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div class="box-body table-responsive">
                                           <div class = "alert alert-dismissable" ng-class="alerttype" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                                            <form role="form" name="patientform">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        
                                                        <label>First Name: *</label>
                                                        <input type="text" class="form-control" ng-model="patient.first_name" placeholder="Enter first name" name="fname" required />                                                        <span class="texterror" ng-show="patientform.fname.$touched && patientform.fname.$invalid">Enter patient first name. </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Middle Name:</label>
                                                        <input type="text" class="form-control" ng-model="patient.middle_name"  placeholder="Enter middle name" >
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Last Name: *</label>
                                                        <input type="text" class="form-control" ng-model="patient.last_name" placeholder="Enter last name"  name="lname" required />
                                                        <span class="texterror" ng-show="patientform.lname.$touched && patientform.lname.$invalid">Enter patient last name. </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Date of birth (in MM/DD/YYYY):</label>
                                                        <input type="text" class="datepicker form-control" ng-model="patient.dob" placeholder="Enter Date of Birth" name="dob" ng-pattern='/^[0,1]?\d{1}\/(([0-2]?\d{1})|([3][0,1]{1}))\/(([1]{1}[9]{1}[9]{1}\d{1})|([2-9]{1}\d{3}))$/' style="padding-left: 1.4%;">
                                                        <span class="texterror" ng-show="patientform.dob.$touched && patientform.dob.$invalid">Please enter date in MM/DD/YYYY format</span>
                                                    </div>

                                                    
                                                    <!-- <label>Select Office:</label>
                                                    <select class="form-control" ng-model="patient.office_id" ng-options="obj.title for obj in officeData track by obj._id" ng-change="getPatientType(patient.office_id)">
                                                        <option value="">Select Office</option>
                                                    </select> -->
                                                    <div class="form-group">
                                                        <label>Select Patient Type: *</label>
                                                        <select class="form-control" ng-model="patient.patient_type" ng-options="obj.title for obj in patientTypeData track by obj._id" name="ptype" required>
                                                            
                                                            <option value="">Select Patient Type</option>
                                                        </select>
                                                        <span class="texterror" ng-show="patientform.ptype.$touched && patientform.ptype.$invalid">Select Patient Type</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Address: *</label>
                                                        <textarea type="text" class="form-control" ng-model="patient.address" placeholder="Enter Address" name="address" required /></textarea>
                                                        <span class="texterror" ng-show="patientform.address.$touched && patientform.address.$invalid">Enter address</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>State:</label>
                                                        <select class="form-control" ng-model="patient.state" ng-options="obj.abbreviation as obj.name for obj in states">
                                                            <option value="">Select State</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>City:</label>
                                                        <input type="text" class="form-control"  ng-model="patient.city" placeholder="Enter City">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Zipcode:</label>
                                                        <input type="text" class="form-control"  ng-model="patient.zipcode" placeholder="Enter Zipcode" numbers-only>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Email: *</label>
                                                        
                                                        
                                                        <div class="input-group">
                                                            <span class="input-group-addon" id="sizing-addon2">@</span>
                                                            <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2"  ng-model="patient.email" placeholder="Enter Email" name="email" required />
                                                            <span class="texterror help-block" ng-show=" subscriberform.email.$error.email" class="help-block">Enter a valid email address.</span>
                                                            
                                                        </div>
                                                        <span class="texterror" ng-show="patientform.email.$touched && patientform.email.$invalid">Enter email address</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Primary Phone number:*</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="glyphicon glyphicon-phone"></i>
                                                            </div>
                                                            <input type="text" class="form-control" ng-model="patient.mobile_phone_number" phone-input placeholder="Enter Mobile Phone Number" name="phone" required/>
                                                            <span class="texterror" ng-show="patientform.phone.$touched && patientform.phone.$invalid">Phone number required</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Alternate Phone number:</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="glyphicon glyphicon-phone-alt"></i>
                                                            </div>
                                                            <input type="text" class="form-control" ng-model="patient.home_phone_number" phone-input placeholder="Enter Phone Number"/>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Work Phone number:</label>
                                                        
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-building-o"></i>
                                                            </div>
                                                            <input type="text" class="form-control" ng-model="patient.work_phone_number" phone-input phone-input placeholder="Enter Work Phone Number"/>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        
                                                        <label>Marital Status:</label>
                                                        <select class="form-control" ng-model="patient.merital_status" ng-options="obj for obj in marital_status">
                                                            <option value="">Select Marital Status</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        
                                                        <label>Patient Priority:</label>
                                                        <select class="form-control" ng-model="patient.priority" ng-options="obj for obj in priority"  name="priority" required>
                                                            <option value="">Select Priority</option>
                                                        </select>
                                                        <span class="texterror" ng-show="patientform.priority.$touched && patientform.priority.$invalid">Select patient priority</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Status:</label>
                                                        <div class="checkbox status_check">
                                                            <label>
                                                                <input type="checkbox" name='enable'  ng-model='patient.enable' checked="{{enableChecked}}"/>
                                                                Enable
                                                            </label>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                    
                                                </form>         
                                  </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div><!-- /.tab-content -->
          </div>
          
           <div class="box-footer clearfix no-border">
               <button data-ng-if="!patient._id" class=" btn m_lft5  btn-primary pull-right" data-ng-click="updateData(0)" ng-disabled="patientform.$invalid"><i class="fa fa-check p-r-10"></i> Add Patient</button>
                        <button data-ng-if="patient._id" class="btn m_lft5 btn-primary pull-right" data-ng-click="updateData(1)" ng-disabled="patientform.$invalid"><i class="fa fa-check p-r-10"></i> Update Patient</button>
                        <a class="btn btn-primary m-r-10 pull-right m_lft5" href="/#/patients"><i class="fa fa-reply p-r-10"></i> Cancel</a>
                <!--<button class="btn btn-default m-r-10 pull-right" ng-click="cleardata()" href="#"><i class="fa fa-reply"></i>Clear</button>-->
          </div>
      </div>
  </div>

  </section><!-- /.content -->
            </aside><!-- /.right-side -->   
