<div class="modal fade" id="patient-info" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Patient Information</h4>
            </div>
            <div class="modal-body">
                <h4>Name : {{patientview.first_name}} {{patientview.middle_name}} {{patientview.last_name}}</h4>
                <br>
                <h4>Email : {{patientview.email}}</h4>
                <br>
                <h4>Phone Number : {{patientview.mobile_phone_number}}</h4>
                <br>
                <h4>DOB : {{patientview.dob | date}}</h4>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<aside class="right-side" ng-init="getAllPatients()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
                       Manage Patients                       
                    </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Patients</li>
        </ol>
    </section>
    <!-- COMPOSE MESSAGE MODAL -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive">
                   <div ng-class="alerttype" ng-show="showmessage">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                    <div class="box">
                        <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                </div> -->
                        <div class="box-body table-responsive">
                            <div class="clearfix">
                                
                                <!-- <div class="pull-left m_btm15" >
                                    <form name="">
                                        <select class="form-control" ng-model="searchpatient.office_id" ng-options="obj.title for obj in officeData track by obj._id" style="width:62%;display:inline-block;">
                                            <option value="">Select Primary office</option>
                                        </select>
                                       <button class="btn btn-primary pull-right" data-ng-click="getAllPatients()">Search</button>
                                    </form>
                                </div> -->
                                <div class="clearfix"></div>
                                <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                    <div class="input-group">
                                        <span class="input-group-addon">Except for...
                                        <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                      </span>
                                        <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                        <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                          <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <form role="form">
                                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                                    <colgroup>
                                        <col width="5%" />
                                        <col width="5%" />
                                        <col width="20%" />
                                        <col width="20%" />
                                        <col width="20%" />
                                        <col width="20%" />
                                         <col width="10%" />
                                    </colgroup>
                                    <tr ng-repeat="patient in $data | filter:getFullName">
                                        <td header="'headerCheckbox.html'">
                                            <input type='checkbox' ng-model="checkboxes.items[patient._id]" ng-change="toggleSelection(patient._id)" />
                                        </td>
                                        <td data-title="'Status'" sortable="'enable'" align='left'>
                                            <div ng-if="patient.enable==true"><img src='images/enable.png' border='0'></div>
                                            <div ng-if="patient.enable==false"><img src='images/disable.png' border='0'></div>
                                        </td>
                                       <!--  <td data-title="'Patient Name'" sortable="'fullName'" filter="{fullName:'text'}" align="left"><a href="/#/patients/edit/{{patient._id}}" alt="Click to edit" title="Click to edit">{{ patient.fullName }}</a></td> -->
                                       <td data-title="'Patient Name'" sortable="'fullName'" filter="{fullName:'text'}" align="left">{{ patient.fullName }}</td>
                                        <td data-title="'Email'" sortable="'email'" filter="{email:'text'}" align="left">{{patient.email}}</td>
                                        <td data-title="'Mobile Number'" align="left">{{patient.mobile_phone_number}}</td>
                                        <td data-title="'Dob'" align="left">{{patient.dob | date}}</td>
                                        <td data-title="'Action'">
                                           <a title="Go To Patient Profile" data-target="#patient-info" data-toggle="modal" ng-click="getPatientView(patient._id)"><i class="glyphicon glyphicon-eye-open"></i></a> 
                                           <div style="display: inline-block;">| <a href="/#/patients/edit/{{patient._id}}" has-permission = "23" alt="Click to edit" title="Click to edit"><i class="glyphicon glyphicon-edit"></i></a> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan='2'>
                                            <div class="pull-left m_btm15 " has-permission = "23"><a ui-sref='patients-add' align='right' class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>Add Patient</a></div>
                                        </td>
                                        <td colspan='5'>
                                            <div class="form-group" style="width:20%;display:inline-block;margin-right:1%;" has-permission = "23">
                                                <select class="form-control" name='selectedAction' id='selectedAction'>
                                                    <option value="0">Select</option>
                                                    <option value="1">Enable</option>
                                                    <option value="2">Disable</option>
                                                    <option value="3">Delete</option>
                                                </select>
                                            </div>
                                            <input type='button' has-permission = "23" name='go' value='Go' class='btn btn-primary' ng-click="performAction()" style="width:auto;display:inline-block;margin-right:1%;">
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
<!-- page script -->
<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" />
</script>
