<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        <div style="display: inline-block;" ng-if="!plan._id">Add&nbsp;</div><div style="display: inline-block;" ng-if="plan._id">Edit&nbsp;</div>Subscription Plan Details
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/#/plans">Plans</a></li>
            <li>Add</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" data-ng-init="findOne()">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{'active': activeTab === 0}" id="tab_1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div class="box-body table-responsive">
                                            <div class = "alert alert-dismissable" ng-class="alerttype" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                                            <form role="form" name="planForm">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label>Plan Title:*</label>
                                                        
                                                            
                                                            <input type="text" class="form-control" name="plan" ng-model="plan.title" placeholder="Enter Plan Title" required />
                                                            
                                                            <span class="texterror" ng-show="planForm.plan.$touched && planForm.plan.$invalid">Enter Plan.</span>
                                                        
                                                        </div>
                                                        <div class="form-group">
                                                        <label>Amount($):*</label>
                                                        <div class="has-feedback">
                                                            <div class="input-group">
                                                                <div class="input-group-addon">$</div>
                                                                <input type="text" class="form-control" ng-model="plan.amount" name="amount" placeholder=" Amount" numbers-only required >
                                                                
                                                                
                                                            </div>
                                                            <span class="texterror" ng-show="planForm.amount.$touched && planForm.amount.$invalid">Enter Amount.</span><br>
                                                            </div>
                                                            <div class="form-group">
                                                            <label>Renews every [Months/Days]:*</label><br>
                                                            <div class="row">
                                                            <div  class="col-sm-4">
                                                                <select class="form-control" ng-model="plan.Months" ng-options="label for label in planmonths" name="months" required>
                                                                    <option value="">Months</option>
                                                                </select>
                                                                <p class="texterror" ng-show="planForm.months.$touched && planForm.months.$invalid">Choose a months</p>
                                                             </div>
                                                              <div  class="col-sm-4">
                                                                <select class="form-control" ng-model="plan.Days" ng-options="label for label in plandays"  name="pdays" required>
                                                                    <option value="">Days</option>
                                                                </select>
                                                                    
                                                                    
                                                               
                                                                
                                                                <p class="texterror" ng-show="planForm.pdays.$touched && planForm.pdays.$invalid">Choose days</p>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="form-group">
                                                            <label>Status:</label>
                                                            <div class="checkbox status_check">
                                                                <label>
                                                                    <input type="checkbox" name='enable'  ng-model='plan.enable' checked="{{enableChecked}}"/>
                                                                    Enable
                                                                </label>
                                                            </div>
                                                           </div> 
                                                        
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div><!-- /.tab-content -->
                    </div>
                    
                    <div class="box-footer clearfix no-border">
                        <button data-ng-if="!plan._id" class=" btn m_lft5  btn-primary pull-right" data-ng-click="updateData(0)"  ng-disabled="planForm.$invalid"><i class="fa fa-check"></i> Add Plan</button>
                        <button data-ng-if="plan._id" class="btn m_lft5 btn-primary pull-right" data-ng-click="updateData(1)"><i class="fa fa-check" ng-disabled="planForm.$invalid"></i> Update Plan</button>
                        <a class="btn btn-primary m-r-10 pull-right m_lft5" href="/#/plans"><i class="fa fa-reply p-r-10"></i>Cancel</a>
                        <!--<button class="btn btn-default m-r-10 pull-right" ng-click="cleardata()" href="#"><i class="fa fa-reply"></i>Clear</button>-->
                    </div>
                </div>
            </div>
            
            </section><!-- /.content -->
            </aside><!-- /.right-side -->