<aside class="right-side" ng-init="getAllPlans()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           Subscription Plan Management                       
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Plans</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" ng-cloak>
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive">
               
                    <div ng-class="alerttype" ng-show="showmessage">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                    <div class="box">
                        <div class="box-body table-responsive">
                            <div class="clearfix">
                                <div class="clearfix"></div>
                                <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                    <div class="input-group">
                                        <span class="input-group-addon">Except for...
                                        <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                      </span>
                                        <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                        <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                          <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <form role="form">
                                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                                    <colgroup>
                                        <col width="5%" />
                                        <col width="5%" />
                                        <col width="20%" />
                                        <col width="20%" />
                                        <col width="20%" />
                                        <col width="5%" />
                                    </colgroup>
                                    <tr ng-repeat="plan in $data">
                                        <td header="'headerCheckbox.html'">
                                            <input type='checkbox' ng-model="checkboxes.items[plan._id]" ng-change="toggleSelection(plan._id)" />
                                        </td>
                                        <td data-title="'Status'" sortable="'enable'" align='left'>
                                            <div ng-if="plan.enable==true"><img src='images/enable.png' border='0'></div>
                                            <div ng-if="plan.enable==false"><img src='images/disable.png' border='0'></div>
                                        </td>
                                        <td data-title="'Title'" sortable="'title'" filter="{title:'text'}" align="left">{{plan.title}}</td>
                                         <!-- <td data-title="'Title'" sortable="'title'" filter="{title:'text'}" align="left"><a href="/#/plans/edit/{{plan._id}}" alt="Click to edit"  >{{plan.title}}</a></td> -->
                                        <td data-title="'Amount'" sortable="'amount'" filter="{amount:'text'}" align="left">{{plan.amount | currency}}</td>
                                        <td data-title="'Renews every [Months/Days]'" sortable="'active_period'" filter="{active_period:'text'}" align="left">{{plan.Months}} &nbsp;<span ng-if="plan.Months == 1">Month and</span> <span ng-if="plan.Months > 1">Months and </span>{{plan.Days}}  <span ng-if="plan.Days == 1">Day</span><span ng-if="plan.Days > 1"> Days</span></td>
                                        <td data-title="'Action'" sortable="'amount'" filter="{amount:'text'}" align="left"><a href="/#/plans/edit/{{plan._id}}" alt="Click to edit" title="Click to edit" class="centera"><i class="glyphicon glyphicon-edit"> </i></a></td>
                                    </tr>
                                    <tr>
                                        <td colspan='2'>
                                            <div class="form-group"><a href='/#/plans/add' align='right' class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>Add New Plan</a></div>
                                        </td>
                                        <td colspan='3'>
                                            <div class="form-group" style="width:20%;display:inline-block;margin-right:1%;">
                                                <select class="form-control" name='selectedAction' id='selectedAction'>
                                                    <option value="" disabled selected>Select</option>
                                                    <option value="1">Enable</option>
                                                    <option value="2">Disable</option>
                                                    <option value="3">Delete</option>
                                                </select>
                                            </div>
                                            <input type='button' name='go' value='Go' class='btn btn-primary' ng-click="performAction()" style="width:auto;display:inline-block">
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
<!-- page script -->
<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" />
</script>