/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.optionSpacing .ng-scope {margin-top: 5px}

.textbox-loadinggif {
    background:url('/images/ajax-loader-img.gif') no-repeat right center;
}

.textbox-loading-success {
    background:url('/images/enable.png') no-repeat right center;
}

.textbox-loading-failure {
    background:url('/images/disable.png') no-repeat right center;
}

.align-center:{
	text-align: center;
}
label{
    /*margin-bottom: 0px;
    margin-top:5px;*/
}

.checkbox, .radio{
  margin: 15px 0;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type='number'] {
    -moz-appearance:textfield;
}
/*23-05-2016*/
.mar-t8{margin-top:8px;}
.mar-t15{margin-top:15px;}
.pd-b15{padding-bottom:15px;}
.fl-rt{float:right; text-align:right; margin-top:26px;}
.tx-cen{text-align:center; min-width: 84px; }
.gr-br table{margin-bottom:0px !important;}
.gr-br{border:1px solid #ddd;}
.rt-fl{float:right;}
.pop-up .modal-header, .pop-up .modal-footer{border:0px;}
.ref-btn{padding:0px 0px 0px 15px;float:right;}
.ref-btn1{margin-top:-15px;float:right;}

.pt-name {
    float: left;
    margin-right: 40px;
    margin-left: 10px ;
}
.pt-detail {
    float: left;
}

.pt-detail > label, .pt-name > label {
    display: block;margin:0px 0px 10px 0px;
}
.time-Pm {
  margin-right:0px;
  padding-left: 0 !important;
}
.time-Am {
  margin-left: 15px !important;/*27-05-2016*/
}
.weekd label{padding-left:6px;margin-bottom:10px;}
.calendar-cover {
  float: right;
  margin: 15px 0;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  width: 72%;
}
#calendar {
  border: 1px solid #ddd;
  overflow: hidden;
}
.patient-tb{ border-right: 1px solid #ddd;
    padding-right:15px;
    width: 28%;padding-left:15px; float:left;}
.patient-cv {
  padding-bottom: 15px;
  padding-top: 15px; float:right;
}
.appoint {
  border: 1px solid #ddd;
  margin: 0px 0px 15px 0;padding:15px;
}
.appointh3 {
  float: left;
  font-size: 15px;
  font-weight: bold;
  margin: 15px 0 5px;
  padding: 0;
  width: 100%;
}
.app-dt label{margin:0px;}	
.app-dt {margin-top: 25px;}
/*27-05-2016*/

.custom-check input[type="checkbox"]:not(:checked),
.custom-check input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.custom-check input[type="checkbox"]:not(:checked) + label,
.custom-check input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer; line-height:17px;
}

/* checkbox aspect */
.custom-check input[type="checkbox"]:not(:checked) + label:before,
.custom-check input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 0;
  width: 17px; height: 17px;
  border: 1px solid #bbbbbb;
  background: #fff;
  border-radius: 2px;
  /*box-shadow: inset 0 1px 3px rgba(0,0,0,.3)*/
}
/* checked mark aspect */
.custom-check input[type="checkbox"]:not(:checked) + label:after,
.custom-check input[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0; left: 0;
  border-radius: 2px;
  width: 17px; height: 17px; line-height: 17px;
  text-align:center;
  font-size: 12px;
  
  color: #fff;
  transition: all .2s;  
  background-color:#3c8dbc;
}
/* checked mark aspect changes */
.custom-check input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.custom-check input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);  
}
/* disabled checkbox */
.custom-check input[type="checkbox"]:disabled:not(:checked) + label:before,
.custom-check input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.custom-check input[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.custom-check input[type="checkbox"]:disabled + label {
  color: #aaa;
}
@media (min-width: 768px) and (max-width: 991px)
{
.fl-rt {
  float: left;
  margin: 0;
  padding: 0 7px;
  text-align: left;
}

}
@media(max-width: 767px)
{
.bt-ft{float:left;}
.fl-rt {float: left;text-align: left;margin-top:5px;margin-bottom:20px;}
.radio label, .checkbox label{padding-left:15px;}
.weekd label{margin-top:10px;}
.ref-btn{float:right;}
.ref-btn1{float:right;}
.time-Am {
  margin-left:0px !important;
}
.time-Pm {
  margin-right:0px;
  padding-left:15px !important;
}
.patient-tb {
  border-right: medium none;
  float: none;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.patient-cv{float:none;}
.calendar-cover {
  float: none;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
}
@media(max-width: 559px)
{
.ref-btn {
  float: left;
  text-align: left;
  width: 100%;
}
.ref-btn1 {
  float: left;
  text-align: left;
  width: 100%;
  margin-top:5px;
}

}
/*23-05-2016*/

/*23-05-2016*/
.maintime{
  width:100%;
}

.left {
  width:50%;
  float:left;
}
.right {
  width:50%;
  float:right;

}
.leftd {
  float:left;
}
.texterror {
  color: #FD0000;
}
.labelcls {
  width:38%;
}

/* 010616 */

.adjustment_table th:first-child{
  min-width: 100px;
}

.adjustment_table td{
  min-width: 70px;
  padding: 8px 3px !important;
  width: 70px;
}

/* 030616 */

.clockinput .btn{
  box-shadow: none;
}

.clockinput .btn:focus{
  outline: none;
}

input[type=checkbox], input[type=radio]{
  vertical-align: top;
}

.texterror b{
  font-weight: 400;
}

.checkbox input[type=checkbox]{
  margin-left: -15px;
}

.form-group{
  margin-bottom: 10px;
}

.form-group label{
  margin-top: 0;
}

.status_check{
  margin-top: 0;
}

.accessdays{
  margin-top: 7px;
}

.accessdays label{
  display: inline-block;
  vertical-align: top;
  margin-right: 23px;
}

.timing_wrap-label{
  display: block;
  text-align: left;
  width: 100%;

}

@media(min-width: 768px){
  table .form-control{
    min-width: 100px
  }
}

@media(max-width: 400px){
  .clockinput .col-xs-6, .clockinput .left, .clockinput .right{
    width: 100%;
  }
}

/*06June 2016*/
.fc-unthemed .fc-green {
    background: #659D32 none repeat scroll 0 0;
}

.fc-unthemed .fc-yellow {
    background: #ffff00 none repeat scroll 0 0;
}
.fc-unthemed .fc-red {
    background: #ff3232 none repeat scroll 0 0;
}

/*08June 2016*/
.loader, .loader::before, .loader::after {
  animation: 1s ease-in-out 0s normal none infinite running load1;
  background: #576d87 none repeat scroll 0 0;
  height: 4em;
  width: 1em;
}
.loader::before, .loader::after {
  content: "";
  position: absolute;
  top: 0;
}
.loader::before {
  animation-delay: -0.32s;
  left: -1.5em;
}
.loader {
  animation-delay: -0.16s;
  font-size: 11px;
  margin: 150px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0px);
}
.loader::after {
  left: 1.5em;
}
@keyframes load1 {
  0%, 80%, 100% {
  box-shadow: 0 0 #576d87;
  height: 4em;
}
40% {
  box-shadow: 0 -2em #576d87;
  height: 5em;
}
}
.loader {
  left: 50%;
  position: fixed;
  z-index: 9999999;
}
#fade {
  background-color: #ababab;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1001;
}
.overlay-loader {
  background: #000 none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}

/*09/06/2016 - Calendar css upates */
.fc-month-view .fc-event-container {
 /* display: none; */
}

.fc-time-grid-container .yellow, .fc-time-grid-container .green, .fc-time-grid-container .red {
    background-color: green;
    /*border: medium none green;*/
    /*color: yellow;*/
    text-indent: -500px;
    width: 10%;
    border-radius: 0;
    border:1px #ccc solid;
    left: 0px !important ;
    cursor: default;
}

.fc-time-grid-container .yellow {
    background-color: yellow;
    /*border: medium none yellow;*/
    
}

.fc-time-grid-container .red {
    background-color: red;
    /*border: medium none yellow;*/
    
}
.fc-agendaDay-view .fc-time-grid-container .yellow,  .fc-agendaDay-view .fc-time-grid-container .green ,  .fc-agendaDay-view .fc-time-grid-container .red {
   width: 1%;
}

.bk-to-ad {
	color:#fff;width:100%;font-size: 16px;
}

.bk-to-ad-spn {
	float: left; margin-top: 6px;
}

.supad-sub-title{
	margin-top: 15px; float: left; margin-right: 211px; cursor: default; text-align: center; color: rgb(255, 255, 255); font-size: 16px;
}

/*16/06/2016*/
.etaclass{
  margin-bottom:-6px;
  margin-left: 25px;
  margin-top: 5px;  
  text-align: center;
  width: 50px;
}
.tblscheduling td{
  padding:0px !important;
  vertical-align: middle !important;
}

.tblscheduling button{
  margin-left:6px;
  padding:1px 4px !important;
  width:30px;
}

.tblscheduling1 td{
  padding:3px 8px !important;
  vertical-align:middle;
}

.etaclass1{
  width:50px;
  margin-left:17px;
}
.tx-rig{
  text-align:right;
   text-align: center;
}


/*-----28/06/2016----*/
.cont_nt1{overflow:visible;}
.patient_table{height:307px;}
.subscribe_side li a{padding:6px 0px 6px 8px !important;}
.subscribe_side li a i.fa{width:15px !important;}

/*---------29/06/2016--------------*/
.strip_tbl th,.strip_tbl tr td{text-align:center;}
.table_resp{overflow-x:visible !important;}
.con_tbl{overflow:visible !important;}
.wid_1{width:13% !important;}
.col_lbl label{padding-top:10px;}
.col_lbl{padding:0px;}
.popup_dv{height:384px;overflow:hidden;overflow-y:auto;}
.subscribe_side li span{font-size:12px;}
.model_con{padding:20px;}
.model_row{border-bottom:1px solid #cccccc;padding-bottom:5px;padding-top:5px;}
.margin_null { margin: 0px ;}