<aside class="right-side" ng-init="initGrid()">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>Change Password</h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i>Home</a></li>
                        <li>Change Password</li>                       
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-body table-responsive">
                            <div class="alert alert-danger alert-dismissable" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>   

                                <div class="col-xs-6">
                                <form name="myform">
                                    <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" name="password" class="form-control" placeholder="New Password" ng-model='Data.password' required/>
                   
                                    <label>Confirm Password</label>
                                    <input type="password" name="cpassword" class="form-control" placeholder="Confirm Password" ng-model='Data.cpassword' ng-pattern="Data.password" required/>
                       
                                    <span ng-show="myform.cpassword.$error.pattern">Passwords do not match.</span>
                                    </div>
                                    
                                    <div class="footer">                                                               
                                    <button type="submit" class="btn m_lft5  btn-primary pull-left"  ng-click="change_password()">Change Password</button>
                                    <button type="button" class="btn m_lft5  btn-primary pull-left"  ng-click="cancel_password()">Cancel</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
</aside>