<aside class="right-side" data-ng-init="getAllinfo()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
                        Edit My Information                    
                    </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>My Information</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive">
                    <div class="alert alert-dismissable" ng-class="alerttype" ng-show="message">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                </div>
                <!-- /.col -->
                <div class="col-xs-6">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th style="width:50%">First Name:</th>
                                <td ng-show="!dataa">{{myinfodata.first_name}}</td>
                                <td ng-show="dataa">
                                    <input type="text" ng-model="myinfodata.first_name" name="first_name">
                                </td>
                            </tr>
                            <tr>
                                <th>Last Name:</th>
                                <td ng-show="!dataa">{{myinfodata.last_name}}</td>
                                <td ng-show="dataa">
                                    <input type="text" ng-model="myinfodata.last_name" name="last_name">
                                </td>
                            </tr>
                            <tr>
                                <th ng-show="!dataa">Email:</th>
                                <td ng-show="!dataa">{{myinfodata.email}}</td>
                            </tr>
                            <tr>
                                <th ng-show="!dataa">Role:</th>
                                <td ng-show="!dataa">{{myinfoType}}</td>
                            </tr>
                        </table>
                        <div class="box-footer clearfix no-border">
                            <button value="editdetails" class=" btn m_lft5  btn-primary pull-left" ng-show="!dataa" ng-click="edit(myinfodata._id)">Edit Details</button>
                            <button value="updatedetails" class=" btn m_lft5  btn-primary pull-left" ng-show="dataa" ng-click="update(myinfodata._id)">Update Details</button>
                            <button value="cancelupdate" class=" btn m_lft5  btn-primary pull-left" ng-show="dataa" ng-click="cancel(myinfodata._id)">Cancel</button>
                            <div style="display: inline-block;" ng-show="!dataa">
                                <button ng-if="!isForAdmin" value="changepassword" class=" btn m_lft5  btn-primary pull-left" ui-sref="change-password">Change Password</button>
                                <button ng-if="isForAdmin" value="changepassword" class=" btn m_lft5  btn-primary pull-left" ui-sref="change-admin-password">Change Password</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </section>
    </section>
</aside>
<!-- /.right-side -->
