<aside class="right-side" data-ng-init="getAllpermissions()">
    <section class="content-header">
        <h1>My Permissions</h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>My Permissions</li>
        </ol>
    </section>
    </div>
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table">
                <tr ng-repeat="data in mypermission">
                    <td>{{data}}</td>
                </tr>
            </table>
        </div>
    </div>
</aside>
