<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 data-ng-if="schedule._id">
        Edit Schedule
        </h1>
        <h1 data-ng-if="!schedule._id">
        Add Schedule
        </h1>        
        
        <ol class="breadcrumb">
        
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a ui-sref="offices">offices</a></li>
            <li><a href="/#/schedules/{{ofc_Id}}">Schedules</a></li>
            <li data-ng-if="!schedule._id">Add Schedule</li>
            <li data-ng-if="schedule._id">Edit Schedule</li>     

        </ol>
    </section>
    <!-- Main content -->
    <section class="content" data-ng-init="findOne();findOfficeName();">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{'active': activeTab === 0}" id="tab_1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div class="box-body table-responsive" style="overflow-x: visible;">
                                            <div class = "alert alert-dismissable" ng-class="alerttype" ng-show="message">
                                                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                                                <ul>
                                                    <li ng-repeat="messages in message">{{messages}}</li>
                                                </ul>
                                            </div>
                                            <form role="form" name="officeForm">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label>Office Title : </label> {{officename}}<br>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>From Date: * </label>  
                                                        <p class="input-group">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                            </span>
                                                            <input type="text" class="form-control" ng-click="open1()" uib-datepicker-popup="{{format}}" ng-model="schedule.fromDate" is-open="popup1.opened" datepicker-options="dateOptions1" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                        </p>
                                                        <span class="texterror" ng-show="officeForm.from.$touched && officeForm.from.$invalid">Select From Date.</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>To Date: *</label>
                                                        <p class="input-group">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                            </span>
                                                            <input type="text" class="form-control" ng-click="open2()" uib-datepicker-popup="{{format}}" ng-model="schedule.toDate" is-open="popup2.opened" datepicker-options="dateOptions2" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                        </p>

                                                        <span class="texterror" ng-show="officeForm.to.$touched && officeForm.to.$invalid">Select To Date.</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Timings: *</label>
                                                        <div class="clearfix">
                                                            <div class="col-sm-7">
                                                                
                                                                <div class="form-group row clearfix clockinput">
                                                                    <div class="left" class="col-xs-6">
                                                                        <label> <small><u>First Appointment Start:</u></small></label>
                                                                        <uib-timepicker ng-model="timeFrom" hour-step="1" minute-step="1" show-meridian="true"      name="formTime"required></uib-timepicker>
                                                                        <span class="texterror" ng-show="officeForm.formTime.$touched && officeForm.formTime.$invalid">Select First Appointment time.</span>
                                                                    </div>
                                                                    <div class="right" class="col-xs-6">
                                                                        
                                                                        <label><small>Last Appointment End:</small></label>
                                                                        
                                                                        <uib-timepicker ng-model="timeTo" hour-step="1" minute-step="1" show-meridian="true"       name="toTime" required></uib-timepicker>
                                                                        <span class="texterror" ng-show="officeForm.toTime.$touched && officeForm.toTime.$invalid">Select Last Appointment time.</span>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div><!-- /.tab-content -->
                </div>
                
                <div class="box-footer clearfix no-border">
                    <button data-ng-if="!schedule._id" class=" btn m_lft5  btn-primary pull-right" ng-disabled="officeForm.$invalid" data-ng-click="updateData(0)"><i class="fa fa-check p-r-10"></i>Add Schedule</button>
                    <button data-ng-if="schedule._id" class="btn m_lft5 btn-primary pull-right" ng-disabled="officeForm.$invalid" data-ng-click="updateData(1)"><i class="fa fa-check p-r-10"></i>Update</button>
                    <a class="btn btn-primary m-r-10 pull-right m_lft5" ui-sref="offices-schedule"><i class="fa fa-reply p-r-10"></i>Cancel</a>
                </div>
            </div>
        </div>
        
        </section><!-- /.content -->
        </aside><!-- /.right-side -->