<aside class="right-side" ng-init="getAllOffices()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           Manage Office Schedule                       
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a ui-sref="offices">Offices</a></li>
            <li>Manage Office Schedule</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive">

                    <div class="alert alert-dismissable" ng-class="alerttype" ng-show="showmessage">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        <ul>
                           <li ng-repeat="messages in message">{{messages}}</li>
                        </ul>
                    </div>
                        
                    <div class="box">
                        <div class="box-body table-responsive">
                            <div class="clearfix"  >
                          <!--    <div class="pull-left m_btm15"><a ng-show="{{addOfficeshow}}" href="/#/schedules/addschedule/{{officeId}}" align='right' class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>Add Schedule</a></div> -->
                                <div class="pull-left m_btm15" >
                                    <form name="">
                                        <select class="form-control" ng-model="searchschedule.clinic" ng-options="obj.title for obj in officeData track by obj._id" style="width:35%;display:inline-block;" ng-change="officeChanged()">
                                            <option value="">Select Office</option>
                                        </select>
                                        <input class="datepicker form-control" ng-model="searchschedule.fromDate" placeholder="From Date" style="width:25%;display:inline-block;">
                                        <input class="datepicker form-control" ng-model="searchschedule.toDate" placeholder="To Date" style="width:25%;display:inline-block;">
                                        <button class="btn btn-primary pull-right" data-ng-click="findschedule()">Search</button>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                                <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                    <div class="input-group">
                                        <span class="input-group-addon">Except for...
                                        <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                      </span>
                                        <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                        <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                          <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <form role="form">
                                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                                    <colgroup>
                                        <col width="5%" />
                                        <col width="5%" />
                                        <col width="20%" />
                                        <col width="20%" />
                                        <col width="15%" />
                                        <col width="15%" />
                                        <col width="15%" />
                                        
                                    </colgroup>
                                    <tr ng-repeat="schedule in $data">
                                        <td header="'headerCheckbox.html'">
                                            <input type='checkbox' ng-model="checkboxes.items[schedule._id]" ng-change="toggleSelection(schedule._id)" />
                                        </td>
                                        <td data-title="'Status'" sortable="'enable'" align='left'>
                                            <div ng-if="schedule.enable==true"><img src='images/enable.png' border='0'></div>
                                            <div ng-if="schedule.enable==false"><img src='images/disable.png' border='0'></div>
                                        </td>
                                        <td data-title="'From Date'" sortable="'title'" filter="{title:'text'}" align="left">{{schedule.fromDate | date:'MM/dd/yyyy'}}</td>
                                        <td data-title="'To Date'" sortable="'state'" filter="{state:'text'}" align="left">{{schedule.toDate | date:'MM/dd/yyyy'}}</td>
                                        <td data-title="'Start Time'" sortable="'city'" filter="{city:'text'}" align="left">{{schedule.timeFrom | date: 'h:mm a'}}</td>
                                        <td data-title="'End Time'" sortable="'city'" filter="{city:'text'}" align="left">{{schedule.timeTo | date: 'h:mm a'}}</td>
                                       <!--  <td data-title="'Slot Time(Mins)'" sortable="'created'" filter="{created:'text'}" align="left">{{schedule.slot_time}}</td> -->
                                        <td data-title="'Action'"><a href="/#/schedules/editschedule/{{schedule.office_id}}/{{schedule._id}}" title="Click to edit"><i class="glyphicon glyphicon-edit"> </i></a></td>
                                    </tr>
                                    <tr>
                                    <tr>
                                      
                                        <td colspan='2' ng-show="officeId">
                                   <div class="pull-left m_btm15"><a  href="/#/schedules/addschedule/{{officeId}}" align='right' class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>Add Schedule</a></div>
                                            <div class="clearfix"></div>
                                        </td>
                                        <td >
                                            <div class="form-group" style="width:100%;display:inline-block;margin-right:1%;">
                                                <select class="form-control" name='selectedAction' id='selectedAction'>
                                                    <option value="0">Select</option>
                                                    <option value="1">Enable</option>
                                                    <option value="2">Disable</option>
                                                    <option value="3">Delete</option>
                                                </select>
                                            </div>

                                        </td>
                                        <td colspan='4'>
                                           
                                            <input type='button' name='go' value='Go' class='btn btn-primary' ng-click="performAction()" style="width:auto;display:inline-block;margin-right:1%;">
                                        </td>
                                    </tr>
                                    
                                   
                                   
                                </table>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
<!-- page script -->
<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" />
</script>