<!-- /.modal -->
<aside class="right-side" ng-init="getAllActiveUsers()" ng-cloak>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Active Users List                       
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/#/reports"><i class="fa fa-dashboard"></i> Reports</a></li>
            <li>Active Users List</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content con_tbl">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive table_resp">
                    <div class="alert alert-dismissable" ng-class="alerttype" ng-show="showmessage">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        <ul>
                            <li ng-repeat="messages in message">{{messages}}</li>
                        </ul>
                    </div>
                    
                    <div class="box">
                        <div class="box-body table-responsive table_resp">
                            <div class="clearfix">
                                <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                    <div class="">
                                        <!-- <span class="input-group-addon">Except for...
                                        <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                       </span> -->


                                        <!-- <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required /> -->



                                    </div>
                                </form>
                            </div>
                            <form role="form">
                                <table id="example1" class="table table-bordered table-striped strip_tbl " ng-table="tableParams" show-filter="isFiltersVisible">
                                    <colgroup>
                                        
                                       
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        
                                    </colgroup>
                                    <tr ng-repeat="user in $data">

                                        <td data-title="'Name'" align="left">  {{user.first_name}} {{user.last_name}} </td>
                                        <td data-title="'Email'" align="left">{{user.email}} </td>
                                        <td data-title="'Role'" align="left">{{user.role.name}}</td>
                                        <td data-title="'Office'" align="left">{{user.office}}</td>
                                        <td data-title="'Created Date'" align="left">{{user.created_date | date: format: 'MM-dd-yyyy'  }}</td> 
                                    </tr>
                                    <tr ng-if="!$data.length">
                                        <td colspan="10" style="text-align:center" > No record found   </td>                                            
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
<!-- page script -->
