
<aside class="right-side"  ng-cloak>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Manage Reports                       
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Manage Reports</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
               <ul class="list-group">
                  <li class="list-group-item"> <a ui-sref="active-user-list">Active Users Report</a></li>
                  <li class="list-group-item"> <a ui-sref="today-visit-list"> Today's Visit Report </a> </li>
                  <li class="list-group-item"> <a ui-sref="service-type-reports">Service Type Performed Report </a></li>
                  <li class="list-group-item"> <a ui-sref="cancelled-appointments-list"> Cancelled Appointments Report </a></li>
                  <li class="list-group-item"> <a ui-sref="no-show-reports">No Shows Report </a></li>
                  <li class="list-group-item"> <a ui-sref="staff-report-list">By Staff(Provider) Report </a> </li>
                  <li class="list-group-item"> <a ui-sref="override-reports"> Scheduling Override Report </a> </li>
                  <li class="list-group-item"> <a ui-sref="open-override-reports"> Open Override Report </a> </li>
               </ul>
            </div>
        </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
<!-- page script -->
