<!-- /.modal -->
<aside class="right-side" ng-init="getAllOffices()" ng-cloak>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        No Show Reports                    
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/#/reports"><i class="fa fa-dashboard"></i> Reports</a></li>
            <li>No Show Reports</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content con_tbl">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive table_resp">

                    <div class="alert alert-dismissable" ng-class="alerttype" ng-show="showmessage">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        <ul>
                            <li ng-repeat="messages in message">{{messages}}</li>
                        </ul>
                    </div>
                    
                    <div class="box">
                        <div class="box-body table-responsive table_resp ">
                            <div class="clearfix">
                                <form name="searchForm" novalidate ng-submit="fetchOverRideReports(1)">
                                    <div class="">
                                        <!-- <span class="input-group-addon">Except for...
                                        <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                       </span> -->

                                      <!-- <input type="hidden" ng-init="true" value="true" ng-model="userSelection.noshow" /> -->
                                    <!-- DATEPICKER -->
                                      <div class="form-block">
                                             <div class="">
                                                  <div class="col-xs-6">
                                                  </div>

                                                 <div class="col-xs-2">

                                                      <div class="input-group">
                                                            <select class="form-control" data-ng-model="userSelection.office_id" ng-options="obj.title for obj in officeData track by obj._id" ng-change="getAllProviders(userSelection.office_id)">
                                                            <option value="">Select Office</option>
                                                            </select>
                                                      </div>                                                 
                                               
                                                 </div>


                                                 <div class="col-xs-3">
                                                 <!-- <label>Select Date: </label> -->
                                                      <p class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="userSelection.fromDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                                                        <span class="input-group-btn">
                                                          <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                      </p>                                                 
                                               
                                                 </div>
                                                 <div class="col-xs-1">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="submit">
                                                              <span class="glyphicon glyphicon-search"></span>
                                                            </button>
                                                        </span>                                                 
                                                 </div>

                                             </div>    

                                      </div>

                                        <!-- <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required /> -->
                                    </div>
                                </form>
                            </div>
                            <form role="form">
                                <table id="example2" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                                    <colgroup>
                                        
                                       
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        
                                    </colgroup>
                                    <tr ng-repeat="appt in $data">

                                        <td data-title="'Date'" align="left">  {{appt.appointment_date | date: format: 'MM-dd-yyyy'}} </td>
                                        <td data-title="'Patient Name'" align="left">{{appt.patient.first_name}} {{appt.patient.last_name}}</td>
                                        <td data-title="'Id'" align="left">{{appt._id}}</td>
                                        <td data-title="'Time'" align="left">{{appt.appointment_start_time}}</td>
                                       <td data-title="'Appt Obj'" align="left">{{appt.appt_type.title}}</td> 
                                       <td data-title="'Diagnose'" align="left">{{appt.diagnosis.title}}</td>                                        
                                       <td data-title="'Provider'" align="left">{{appt.provider.firstName}} {{appt.provider.lastName}}</td>                                        
                                       <td data-title="'Est Time(Mins) '" align="left">  {{appt.taskTime |number:0 }} </td>   
                                       <td data-title="'Created By'" align="left">{{appt.created_by.first_name}} {{appt.created_by.last_name}}</td>    
                                        <td data-title="'Approved By'" align="left"> </td>
                                    </tr>
                                    <tr ng-if="!$data.length">
                                        <td colspan="10" style="text-align:center" > No record found   </td>                                            
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
<!-- page script -->
