<aside class="right-side" ng-init="getAllOffices()" ng-cloak>
    <section class="content-header">
        <h1>
        Service Type Performed Reports                       
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/#/reports"><i class="fa fa-dashboard"></i> Reports</a></li>
            <li>Service Type Performed Reports</li>
        </ol>
    </section>
    <section class="content con_tbl">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive table_resp">
                    <div class="alert alert-dismissable" ng-class="alerttype" ng-show="showmessage">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        <ul>
                            <li ng-repeat="messages in message">{{messages}}</li>
                        </ul>
                    </div>
                    <div class="box">
                        <div class="box-body table-responsive table_resp">
                            <div class="clearfix">
                                <form name="searchForm" novalidate ng-submit="serviceTypePerformedList()">
                                    <div class="">
                                        <div class="form-block">
                                            <div class="row margin_null">
                                                <div class="form-group col-sm-4">
                                                    <label>Select Office</label>
                                                    <select class="form-control" data-ng-model="userSelection.office_id" ng-options="obj.title for obj in officeData track by obj._id" ng-change="getOtherDropInfo(userSelection.office_id)" required>
                                                        <option value="">Select Office</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label>Select Diagnose</label>
                                                    <select class="form-control" data-ng-model="userSelection.diagId" ng-options="obj.title for obj in diagData track by obj._id" ng-change="getdiagAppt(userSelection.diag_id)">
                                                        <option value="">Select Diagnosis</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-4">
                                                    <label>Appointment Type</label>
                                                    <select class="form-control" data-ng-model="userSelection.apptTypeId" ng-options="obj.title for obj in apptTypes track by obj._id">
                                                        <option value="">Select Appointment</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row margin_null">
                                                <div class="col-xs-4">
                                                    <label>From Date</label>
                                                    <p class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="userSelection.fromDate" is-open="popup1.opened" datepicker-options="dateOptions1" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                        <span class="input-group-btn">
                                                          <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="col-xs-4 ">
                                                    <label>To Date</label>
                                                    <p class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="userSelection.toDate" is-open="popup2.opened" datepicker-options="dateOptions2" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                        <span class="input-group-btn">
                                                          <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="col-xs-3">
                                                    <label>Patient</label>
                                                    <div ng-disabled="!userSelection.office_id">
                                                        <angucomplete-alt id="ex1" placeholder="Select Patient" pause="500" selected-object="patientId" remote-url="/patients/autocomplete" remote-url-request-formatter="remoteUrlRequestFn" remote-url-data-field="items" title-field="concatedName" description-field="mobile_phone_number" minlength="1" input-class="form-control form-control-small">
                                                        </angucomplete-alt>
                                                    </div>
                                                </div>
                                                <div class="col-xs-1">
                                                    <label>&nbsp;</label>
                                                    <span class="input-group-btn" style="">
                                                            <button class="btn btn-default" type="submit" style="float: right;">
                                                              <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div style="height: 15px;"></div>

                            <form role="form">
                                <table id="example1" class="table table-bordered table-striped strip_tbl" ng-table="tableParams" show-filter="isFiltersVisible">
                                    <colgroup>
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="5%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="15%" />
                                    </colgroup>
                                    <tr ng-repeat="appt in $data">
                                        <td data-title="'Date'" align="left"> {{appt.appointment_date | date: format: 'MM-dd-yyyy'}} </td>
                                        <td data-title="'Patient Name'" align="left">{{appt.patient.first_name}} {{appt.patient.last_name}}</td>
                                        <td data-title="'Id'" align="left">{{appt._id}}</td>
                                        <td data-title="'Time'" align="left">{{appt.appointment_start_time}}</td>
                                        <td data-title="'Appt Obj'" align="left">{{appt.appt_type.title}}</td>
                                        <td data-title="'Diagnose'" align="left">{{appt.diagnosis.title}}</td>
                                        <td data-title="'Provider'" align="left">{{appt.provider.firstName}} {{appt.provider.lastName}}</td>
                                        <td data-title="'Est Time(Mins) '" align="left"> {{appt.taskTime |number:0 }} </td>
                                        <td data-title="'Created By'" align="left">{{appt.created_by.first_name}} {{appt.created_by.last_name}}</td>
                                        <td data-title="'Appointment Tasks'" align="left">
                                            <div style="display: inline-block;" ng-repeat="task in appt.appointment_tasks">{{task.title}}<span ng-if="!$last">,</span> </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="!$data.length">
                                        <td colspan="10" style="text-align:center"> No record found </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>