<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 data-ng-if="!office._id">Add Office</h1>
        <h1 data-ng-if="office._id">Edit Office</h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a ui-sref="offices">offices</a></li>
            <li data-ng-if="!office._id">Add</li>
            <li data-ng-if="office._id">Edit</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" data-ng-init="findOne()" ng-cloak>
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{'active': activeTab === 0}" id="tab_1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div class="box-body table-responsive">
                                            <div class="alert alert-dismissable" ng-class="alerttype" ng-show="message">
                                                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                                                <ul>
                                                    <li ng-repeat="messages in message">{{messages}}</li>
                                                </ul>
                                            </div>
                                            <form role="form" name="officeForm">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label>Office Title: *</label>
                                                        <input type="text" class="form-control" name="title" ng-model="office.title" placeholder="Enter Office Title" required>
                                                        <span class="texterror" ng-show="officeForm.title.$touched && officeForm.title.$invalid"><b>The title is required.</b></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Address: *</label>
                                                        <textarea type="text" class="form-control" name="address" ng-model="office.address" placeholder="Enter Address" required></textarea><span class="texterror" ng-show="officeForm.address.$touched &&amp; officeForm.address.$invalid"><b>Address is required.</b></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Country:*  </label>
                                                        <select class="form-control" ng-model="office.country" name="country" ng-options="obj.abbreviation as obj.name for obj in countries"   required >
                                                            <option value="">Select Country</option>
                                                            
                                                        </select>
                                                        <span class="texterror" ng-show="officeForm.country.$touched && officeForm.country.$invalid"><b>Country is required</b></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>State:</label>
                                                        <select class="form-control" ng-model="office.state" ng-options="obj.abbreviation as obj.name for obj in states">
                                                            <option value="">Select State</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>City:</label>
                                                        <input type="text" class="form-control" ng-model="office.city" placeholder="Enter City">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Office Email: *</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon">@</div>
                                                        <input type="email" class="form-control" name="email" ng-model="office.email" placeholder="Enter Email" required></div>
                                                        <p class="texterror" ng-show="officeForm.email.$invalid && !officeForm.email.$pristine" class="help-block"><b>Enter a valid email.</b></p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Office Phone Number: *</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-phone"></i>
                                                            </div>
                                                            <input type="text" class="form-control" name="phno" ng-model="office.phone_no" placeholder="Enter phone number" phone-input/><span class="texterror" ng-show="officeForm.phno.$touched && officeForm.phno.$invalid"><b>Enter phone number </b></span>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                    <div class="checkbox">
                                                        <span><strong>Working Days:*</strong></span>
                                                        <label ng-repeat="day in days" style="display:inline-block;">
                                                            <input
                                                            type="checkbox"
                                                            name="selectedDays[]"
                                                            
                                                            value="{{day}}"
                                                            ng-checked="workingdaysselection.indexOf(day) > -1"
                                                            ng-click="editworkingdays(day)"
                                                            > {{day}} &nbsp;&nbsp;
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Slot Time (mins): *</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="glyphicon glyphicon-time"></i>
                                                            </div>
                                                        <input type="number" class="form-control" name="slot" ng-model="office.default_slot_time" placeholder="Enter Slot Time" required></div>
                                                        <span class="texterror" ng-show="officeForm.slot.$touched && officeForm.slot.$invalid"><b>Enter the  slot time </b></span>
                                                    </div>
                                                    <div class="form-group">
                                                    <label>Office Hours: *</label>
                                                    <div class="clearfix">
                                                        <div class="col-sm-7">
                                                            
                                                            <div class="form-group row clearfix clockinput">
                                                                <div class="left" class="col-xs-6">
                                                                    <label> <small><u>Open Time:*</u></small></label>
                                                                    <uib-timepicker ng-model="default_start_time" hour-step="1" minute-step="1" show-meridian="true" required ></uib-timepicker>
                                                                </div>
                                                                <div class="right" class="col-xs-6">
                                                                    
                                                                    <label><small><u>Closing Time:*</u></small></label>
                                                                    <uib-timepicker ng-model="default_end_time" hour-step="1" minute-step="1" show-meridian="true"  required ></uib-timepicker>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="col-sm-3 form-group clearfix">
                                                            <label><small><u>Status:</u></small></label>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" name='enable' ng-model='office.enable' checked="{{enableChecked}}" /> Enable
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>No-Show Time Limit (in Hours)</label>
                                                    <input type="text" placeholder="24" class="form-control" name="no_show_limit" ng-model="office.no_show_limit" only-digits/>
                                                     <span class="texterror" ng-show="officeForm.no_show_limit.$touched && officeForm.no_show_limit.$invalid"><b>Enter a valid limiting number of hours</b></span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <div class="box-footer clearfix no-border">
                <button data-ng-if="!office._id" class=" btn m_lft5  btn-primary pull-right" ng-disabled="officeForm.$invalid" data-ng-click="updateData(0)"><i class="fa fa-check p-r-10"></i>Add Office</button>
                <button data-ng-if="office._id" class="btn m_lft5 btn-primary pull-right" data-ng-click="updateData(1)"><i class="fa fa-check p-r-10"></i>Update</button>
                <a class="btn btn-primary m-r-10 pull-right m_lft5" ui-sref="offices"><i class="fa fa-reply p-r-10"></i>Cancel</a>
                <!--<button class="btn btn-default m-r-10 pull-right" ng-click="cleardata()" href="#"><i class="fa fa-reply"></i>Clear</button>-->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
</aside>
<!-- /.right-side -->