<div class="modal fade" id="office-info" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Office Information</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>
                            <h4>Name : {{officeview.title}}</h4></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Address : {{officeview.address}}</h4></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Email : {{officeview.email}}</h4></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Phone Number : {{officeview.phone_no}}</h4></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Working Days : {{workingdaysselection}}</h4></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Slot Time : {{officeview.default_slot_time}}</h4></td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Office Timings : {{default_start_time }} - {{default_end_time }}</h4></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<aside class="right-side" ng-init="getAllOffices()" ng-cloak>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Manage Offices                       
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Manage Offices</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive">
                    <div class="alert alert-dismissable" ng-class="alerttype" ng-show="showmessage">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        <ul>
                            <li ng-repeat="messages in message">{{messages}}</li>
                        </ul>
                    </div>
                    <div class="box">
                        <div class="box-body table-responsive">
                            <div class="clearfix">
                                <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                    <div class="input-group">
                                        <span class="input-group-addon" ng-if="isEditGrid">Except for...
                                        <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                      </span>
                                        <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                        <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                          <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <form role="form">
                                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                                    <colgroup>
                                        <col width="5%" ng-if="isEditGrid"/>
                                        <col width="5%" />
                                        <col width="20%" />
                                        <col width="15%" />
                                        <col width="20%" />
                                        <col width="15%" />
                                        <col width="15%" />
                                    </colgroup>
                                    <tr ng-repeat="office in $data">
                                        <td header="'headerCheckbox.html'"  ng-if="isEditGrid">
                                            <input type='checkbox' ng-model="checkboxes.items[office._id]" ng-change="toggleSelection(office._id)"  ng-if="office.permissionKey"/>
                                        </td>
                                        <td data-title="'Status'" sortable="'enable'" align='left'>
                                            <div ng-if="office.enable==true"><img src='images/enable.png' border='0'></div>
                                            <div ng-if="office.enable==false"><img src='images/disable.png' border='0'></div>
                                        </td>
                                        <td data-title="'Title'" sortable="'title'" filter="{title:'text'}" align="left">{{office.title}}</a>
                                        </td>
                                        <td data-title="'State'" sortable="'state'" filter="{state:'text'}" align="left">{{office.state}}</td>
                                        <td data-title="'City'" sortable="'city'" filter="{city:'text'}" align="left">{{office.city}}</td>
                                        <td data-title="'Created'" sortable="'created'" filter="{created:'text'}" align="left">{{office.created_date | date}}</td>
                                        <td data-title="'Action'">
                                            <a data-target="#office-info" data-toggle="modal" ng-click="getOfficeView(office._id)" title="View details">
                                                <i class="glyphicon glyphicon-eye-open"></i>
                                            </a>
                                            <div style="display: inline-block;" ng-if="office.permissionKey"> |
                                                <a href="/#/offices/edit/{{office._id}}" title="Click to edit">
                                                    <i class="glyphicon glyphicon-edit"></i>
                                                </a>
                                            </div>
                                            <div has-permission="2" style="display: inline-block;"> |
                                                <a href="/#/schedules/{{office._id}}" title="Office schedule">
                                                    <i class="glyphicon glyphicon-time"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr  has-permission="8,28">
                                        <td colspan='2'>
                                            <div class="form-group" ><a ui-sref="offices-add" align='right' class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>Add Office</a></div>
                                            <div class="clearfix"></div>
                                        </td>
                                        <td colspan='5' class="form-inline">
                                            <div class="form-group" style="">
                                                <select class="form-control" name='selectedAction' id='selectedAction'>
                                                    <option value="" disabled selected>Select</option>
                                                    <option value="1">Enable</option>
                                                    <option value="2">Disable</option>
                                                    <option value="3">Delete</option>
                                                </select>
                                            </div>
                                            <input type='button' name='go' value='Go' class='btn btn-primary' ng-click="performAction()" style="width:auto;display:inline-block;margin-right:1%;">
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
<!-- page script -->
<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" ng-if="isEditGrid"/>
</script>
