<aside class="right-side" data-ng-init="findOne()">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 data-ng-if="!referrerType._id">Add Referrer Type</h1>
                    <h1 data-ng-if="referrerType._id">Edit Referrer Type</h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a ui-sref="referrer-type">Referrer Types</a></li> 
                        <li data-ng-if="!referrerType._id">Add</li>
                        <li data-ng-if="referrerType._id">Edit</li>                      
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="box">
                                    
                                <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                </div> -->
                                <div class="box-body table-responsive">
                                    <div ng-class="alerttype" ng-show="showmessage"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div> 
                                                        
                                    <form role="form" name="referrerTypeform">
                                    <div class="box-body">
                                        <div class="form-group">
                                            
                                            <!-- <label>Select Office:</label>
                                            <select class="form-control" ng-model="referrerType.office_id" ng-options="obj.title for obj in officeData track by obj._id">
                                            <option value="">Select Office</option>
                                            </select> -->
                                                        
                                            <label>Title: *</label>
                                            <input type="text" class="form-control"  name='title' ng-model="referrerType.title" placeholder="Enter Title" required />
                                            <span class="texterror" ng-show="referrerTypeform.title.$touched && referrerTypeform.title.$invalid"><b>The title is required.</b></span>
                                            </div>
                                                 <div class="form-group">
                                            <label>Description:</label>
                                            <textarea class="form-control"  name='description' data-ng-model="referrerType.description" placeholder="Enter Description"/></textarea>
                                            </div>
                                             <div class="form-group">
                                            <label>Status:</label>
                                            <div class="checkbox status_check">
                                            <label>
                                                <input type="checkbox" name='enable' id='enable' ng-model='referrerType.enable' checked="{{enableChecked}}"/>
                                                Enable
                                            </label>
                                            </div> 
                                            </div>

                                    </div><!-- /.box-body -->

                                     <div class="box-footer clearfix no-border">

                                            <button data-ng-if="!referrerType._id" class=" btn m_lft5  btn-primary pull-right" data-ng-click="updateData(0)" ng-disabled="referrerTypeform.$invalid"><i class="fa fa-check p-r-10"></i> Add Referrer Type</button>
                                            <button data-ng-if="referrerType._id" class="btn m_lft5 btn-primary pull-right" data-ng-click="updateData(1)" ng-disabled="referrerTypeform.$invalid"><i class="fa fa-check p-r-10"></i> Update Referrer Type</button>
                                            
                                            <a class="btn btn-primary m-r-10 pull-right m_lft5" ui-sref="referrer-type"><i class="fa fa-reply p-r-10"></i> Cancel</a>
                                            <!--<button class="btn btn-default m-r-10 pull-right" ng-click="cleardata()" href="#"><i class="fa fa-reply"></i>Clear</button>-->
                                      </div>
                                </form>              
                                  
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->