 <aside class="right-side" ng-init="getAllTasks()">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                       Tasks                       
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li>Tasks</li>                       
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-body table-responsive">
                                    <div class="alert alert-danger alert-dismissable" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>   
                            <div class="box">
                                
                                <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                </div> -->
                                 <div class="box-body table-responsive">
                                    <div class="clearfix" style="padding-bottom:15px;">
                                            <div class="box-body table-responsive">
                                            <div class="clearfix">
                                            <div class="pull-left m_btm15"><a ui-sref='default-tasks-add' align='right'  class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>Add New Task</a></div>
                                            <div class="pull-right m_lft5" style="float:left !important;">
                                            <!-- <form name="searchTask" novalidate ng-submit="tasksSearch()">
                                            <select class="form-control" ng-model="searchtask.diagnosis" ng-options="obj._id as obj.title for obj in diags" style="width:auto;display:inline-block">
                                                <option value="">Select diagnosis</option>
                                            </select>
                                           
                                            <select class="form-control" ng-model="searchtask.appointmentType" ng-options="obj._id as obj.title for obj in appt" style="width:auto;display:inline-block">
                                                <option value="">Select Appointment type</option>
                                            </select>
                                            <button class="btn btn-primary" type="submit">Search</button>
                                            </form> -->
                                            </div>
                                             
                                             <div class="clearfix"></div>
                               
                                <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                    <div class="input-group">
                                      <span class="input-group-addon">Except for...
                                        <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                      </span>
                                      <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                          <span class="glyphicon glyphicon-search"></span>
                                      </button>
                                      </span>
                                    </div>
                              </form>
                              </div>                         

                           <form role="form">
                                  
                                    <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible"> 
                                     <colgroup>
                                              <col width="5%"/>
                                              <col width="5%"/>
                                              <!-- <col width="20%"/>
                                              <col width="20%"/>
                                              <col width="20%"/> -->
                                             
                                            </colgroup>

                                            <tr ng-repeat = "task in $data">
                                                <td header="'headerCheckbox.html'"><input type='checkbox' ng-model="checkboxes.items[task._id]" ng-change="toggleSelection(task._id)" /></td>
                                                <td data-title="'Status'" sortable="'enable'" align='left'><div ng-if="task.enable==true"><img src='images/enable.png' border='0'></div><div ng-if="task.enable==false"><img src='images/disable.png' border='0'></div></td>

                                                <td data-title="'Task'" sortable="'title'" filter="{title:'text'}" align="left"><a href="/#/default-tasks/edit/{{task._id}}" alt="Click to edit" title="Click to edit">{{task.title}}</a></td>

                                                <td data-title="'Code'" sortable="'code'" filter="{code:'text'}" align="left">{{task.code}}</td>

                                                <!-- <td data-title="'Time'" sortable="'time'" filter="{time:'text'}" align="left">{{task.time}}</td>
                                                
                                                <td data-title="'Diagnosis'" sortable="'diagnosis.title'" filter="{title:'text'}" align="left">{{task.diagnosis.title}}</td>

                                                <td data-title="'AppointmentType'" sortable="'appointmentType.title'" filter="{title:'text'}" align="left">{{task.appointmentType.title}}</td> -->
                                            </tr>
                                            <tr>
                                                <td colspan='2'>
                                                    
                                                    <div class="form-group">
                                                                <select class="form-control" name='selectedAction' id='selectedAction'>
                                                                <option value="0">Select</option>
                                                                <option value="1">Enable</option>
                                                                <option value="2">Disable</option>
                                                                <option value="3">Delete</option>
                                                            </select> 
                                                    </div>
                                                </td>
                                                <td colspan='5'><input type='button' name='go' value='Go' class='btn btn-primary' ng-click="performAction()"></td>
                                                
                                            </tr>  
                                    </table>   
                                </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->


            <!-- page script -->
         <script type="text/ng-template" id="headerCheckbox.html">
                <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" />
            </script>
               