 <aside class="right-side" ng-init="gridInit()">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                       Referrer Type Adjustments                        
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li>Referrer Type Adjustments</li>                       
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-body ">
                                 <div ng-class="alerttype" ng-show="showmessage"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>   
                            <div class="box">
                                
                                <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                </div> -->
                                 <div class="box-body ">
                                    <div class="clearfix" style="padding-bottom:15px;">
                                            <div class="box-body">
                                            <div class="clearfix">



                                           <!--  <div class="pull-left m_btm15"><p  align='right' class="strong"  >Select Office:</p></div>
                                            <div class="pull-right m_lft5" style="float:left !important;">
                                             <select class="form-control" ng-model="office_id" ng-options="obj._id as obj.title for obj in officeData " ng-change="changeOffice(office_id)">
                                            <option value="">Select Office</option>
                                            </select>
                                            </div>
 -->



                                            <div class="pull-left m_btm15"><p  align='right' class="strong"  >Select Diagnosis:</p></div>
                                            <div class="pull-right m_lft5" style="float:left !important;">
                                            <form name="searchTask" novalidate ng-submit="tasksSearch()">

                                              <select class="form-control" ng-model="diagnosis" ng-options="obj._id as obj.title for obj in diags" ng-change="changeDiagnose()" style="width:auto;display:inline-block"  >
                                                <option value="">Select</option>
                                              </select>

                                            </form>
                                            </div>
                                             
                                             <div class="clearfix"></div>
                               
                                <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                              </form>
                              </div>                         

                           <form role="form">
 
            <!-- New Page  -->
                    <div class="row" ng-show="diagnosis">
                        <div class="col-xs-12" >
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                       <div style="margin-top: 0.7%; color: #367FA9; ">
                                          The entered value will be consider in minutes                        
                                       </div>
                                    <div class="box-tools">
                                        <div class="input-group">
                                        </div>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th width="10%">Referrer Type </th>
                                            
                                            <th class="align-center" colspan="{{taskData.length }}">Tasks </th>
                                            
                                        </tr> 

                                        <tr>
                                            <th></th>
                                            <th ng-repeat="task in taskData">{{task.title}}</th>
                                        </tr>
                                        <tr ng-repeat="obj in appt">
                                            <td>{{obj.title }}</td>
                                            <td ng-repeat="task in taskData" ><input type="text" ng-model="gridData[obj._id][task._id]" valid-number change-on-blur="updateValue(gridData, obj._id, task._id, this)"  class="form-control"  id="{{obj._id}}-{{task._id}}" ng-disabled="!isEditGrid" /></td>    
                                        </tr>
                                        <!-- numbers-only="numbers-only" -->
                                     </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>

                        <!--  <div class="col-xs-1">
                            <div class="pull-left m_btm15" style="margin-left:-12px;" ng-show="isEditGrid">
                                <button  ng-click="addTask()" align="right" class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>
                                Tasks</button>
                            </div>
                           

                         </div> -->

                    </div>

                    <div  ng-show="diagnosis && isEditGrid" >
                        <div class="col-xs-12">
                           <div class="pull-left m_btm15">
                           <!-- ui-sref="default-appointmenttype" -->
                                <button ng-click="addReferrarType()"  align="right" class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>Referrer Type</button>
                            </div>
                        </div>
                    </div>




            <!-- New Page End  -->

                                </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->


            <!-- page script -->

        <!-- <div class="modal fade" id="permission-info" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
        </div> -->
<script type="text/ng-template" id="addreferrartype.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="Cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Referrer Type</h4>
    </div>
  
        <div class="modal-body">
<div class="row">
                        <div class="col-xs-12">
                            <div class="">
                                <div class=" table-responsive">
                                    <div ng-show="showmessageReferrer" ng-class="alerttypeReferrer" ><button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button> {{messageReferrer}} </div>
                                                                    
                                    <form name="modalReferrarTypeform" role="form" class="ng-pristine ng-valid">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Title: *</label>
                                            <input type="text" placeholder="Enter Title" ng-model="modalReferrarType.title" name="title" class="form-control ng-pristine ng-untouched ng-valid" required /> 
                                            <span class="texterror" ng-show="modalReferrarTypeform.title.$touched && modalReferrarTypeform.title.$invalid"><b>The title is required.</b></span>
                                            </div>
                                             <div class="form-group">
                                            <label>Description: </label>
                                            <input type="text" placeholder="Enter Description" ng-model="modalReferrarType.description" name="description"  class="form-control ng-pristine ng-untouched ng-valid">    
                                            </div>
                                            <div class="form-group">
                                            <label>Status:</label>
                                            <div class="checkbox status_check">
                                                <label>
                                                    <input type="checkbox" checked="{{enableChecked}}" ng-model="modalReferrarType.enable" id="enable" name="enable" class="ng-pristine ng-untouched ng-valid">
                                                    Enable
                                                </label>
                                            </div> 

                                    </div><!-- /.box-body -->

                                     <div class="box-footer clearfix no-border">
                                            <button data-ng-click="updatedData(0)" class="btn m_lft5  btn-primary pull-right ng-scope" data-ng-if="!modalReferrarType._id" ng-disabled="modalReferrarTypeform.$invalid"><i class="fa fa-check"></i> Add Referrer Type</button>
                                            
                                            <button ng-click="Cancel()"  class="btn btn-primary m-r-10 pull-right m_lft5"><i class="fa fa-reply p-r-10"></i> Cancel</button>

                                      </div>
                                              
                                  
                                </div></form><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </div>
        </div>
        

</script>
          

          <script type="text/ng-template" id="addreferrartaskmodal.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="Cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Task</h4>
    </div>
  
        <div class="modal-body">
<div class="row">
                        <div class="col-xs-12">
                            <div class="">
                                <div class=" table-responsive">
                                    <div ng-show="message" ng-class="alerttype" class="alert alert-dismissable ng-binding ng-hide"><button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button> {{message}} </div> 
                                                                    
                                        <form role="form" name="taskForm">
                                        <div class="box-body">
                                        <div class="form-group">


                                            <label>Task Title</label>
                                            <input type="text" class="form-control"  ng-model="task.title" placeholder="Enter Task Title">
                                                
                                            <label>Task Code</label>
                                            <input type="text" class="form-control"  ng-model="task.code" placeholder="Enter Task Code">

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name='enable'  ng-model='task.enable' checked="{{enableChecked}}"/>
                                                    Enable
                                                </label>
                                            </div> 

                                            <button data-ng-click="updatedData(0)" class="btn m_lft5  btn-primary pull-right ng-scope" data-ng-if="!task._id"><i class="fa fa-check"></i>Save Changes</button>
                                            
                                            <button ng-click="cancel()"  class="btn btn-primary m-r-10 pull-right m_lft5" ><i class="fa fa-reply p-r-10"></i>Cancel</button>

                                      </div>
                                    </div>

                                   
                                </form> 
                                <!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </div>
        </div>
        

</script>     