<aside class="right-side" data-ng-init="findOne()">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 data-ng-if="!apptType._id">Add Appointment Type</h1>
                    <h1 data-ng-if="apptType._id">Edit Appointment Type</h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a ui-sref="office-appointmenttype">Office Appt. Types</a></li> 
                        <li data-ng-if="!apptType._id">Add</li>
                        <li data-ng-if="apptType._id">Edit</li>                   
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="box">
                                    
                                <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                </div> -->
                                <div class="box-body table-responsive">
                                   <div ng-class="alerttype" ng-show="showmessage"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div> 
                                                                    
                                    <form role="form" name="apptTypeform">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <!-- <label>Select Office:</label>
                                            <select class="form-control" data-ng-model="apptType.office_id" ng-options="obj.title for obj in officeData track by obj._id">
                                            <option value="">Select Office</option>
                                            </select> -->
                                            
                                            <label>Title: *</label>
                                            <input type="text" class="form-control" name='title' ng-model="apptType.title" placeholder="Enter Title" required />
                                             <span class="texterror" ng-show="apptTypeform.title.$touched && apptTypeform.title.$invalid">Enter title. </span>
                                            </div>
                                                <div class="form-group">
                                            <label>Description:</label>
                                            <textarea class="form-control"  name='description' data-ng-model="apptType.description" placeholder="Enter Description" /></textarea>
                                            <span class="texterror" ng-show="apptTypeform.description.$touched && apptTypeform.description.$invalid">Enter description. </span>
                                            </div>
                                            <div class="form-group">
                                             <label>Status:</label>
                                             <div class="checkbox status_check">
                                            <label>
                                                <input type="checkbox" name='enable' id='enable' ng-model='apptType.enable' checked="{{enableChecked}}"/>
                                                Enable
                                            </label>
                                            </div>
                                            </div> 

                                    </div>

                                     <div class="box-footer clearfix no-border">

                                            <button data-ng-if="!apptType._id" class=" btn m_lft5  btn-primary pull-right" data-ng-click="update(0)" ng-disabled="apptTypeform.$invalid"><i class="fa fa-check p-r-10"></i> Add Appointment type</button>
                                            <button data-ng-if="apptType._id" class="btn m_lft5 btn-primary pull-right" data-ng-click="update(1)" ng-disabled="apptTypeform.$invalid"><i class="fa fa-check p-r-10"></i> Update Appointment type</button>
                                            <a class="btn btn-primary m-r-10 pull-right m_lft5" ui-sref="office-appointmenttype"><i class="fa fa-reply p-r-10"></i> Cancel</a>
                                            <!--<button class="btn btn-default m-r-10 pull-right" ng-click="cleardata()" href="#"><i class="fa fa-reply"></i>Clear</button>-->
                                      </div>
                                </form>              
                                  
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->