<!-- Right side column. Contains the navbar and content of the page --> 
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Dashboard
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </section>


                <!-- Main content -->
                <section class="content">

                    <!-- Small boxes (Stat box) -->

                    <div class="row">
                        <div class="alert alert-danger" ng-show="authshowmessage" style="width: 36.4%; margin-left: 31%">{{authmessage}}</div>
                    </div>

                    <div class="row" ng-show="userType == 1 && !superadmin_subscriberid">
                        <div class="col-lg-3 col-xs-6">
                       <!--  <a href="/#/subscribers" class="btn btn-app">Subscribers</a> -->
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>
                                        Subscribers
                                    </h3>
                                    <p>
                                        Manage Subscribers
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-users"></i>
                                </div>
                                <a href="/#/subscribers" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                        <!-- <a href="/#/default-tasks-basetime" class= "btn btn-app">Default Base time Management</a> -->
                            <!-- small box -->
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>
                                        Base Time
                                    </h3>
                                    <p>
                                        Default Base time Management
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <a href="/#/default-tasks-basetime" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6 text-center">
                        <!-- <a href="/#/" class="btn btn-app"> <i class="fa fa-bar-chart-o"></i> Reports</a> -->
                            <!-- small box -->
                            <div class="small-box bg-yellow" has-permission="29 , 30">
                                <div class="inner">
                                    <h3>
                                        Reports
                                    </h3>
                                    <p>
                                        Manage Admin Reports
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <a href="#/admin-reports" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        </div>
                        <div class="row" ng-show="userType==2 || userType==3 || superadmin_subscriberid">
                        <div class="col-lg-3 col-xs-6 text-center">
                        <!-- <a href="/#/offices" class="btn btn-app"><i class="fa fa-building-o"></i>Offices</a> -->
                            <!-- small box -->
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>
                                        Offices
                                    </h3>
                                    <p>
                                    Manage Offices
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-building-o"></i>
                                </div>
                                <a href="/#/offices" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>   <!-- ./col -->
                         <div class="col-lg-3 col-xs-6 text-center">
                        <!-- <a href="/#/users" class="btn btn-app"> <i class="fa fa-users"></i> Users</a> -->
                            <!-- small box -->
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>
                                        Users
                                    </h3>
                                    <p>
                                        Manage Users
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-users"></i>
                                </div>
                                <a href="/#/users" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>   <!-- ./col -->
                         <div class="col-lg-3 col-xs-6 text-center">
                        <!-- <a href="/#/" class="btn btn-app"> <i class="fa fa-bar-chart-o"></i>
Reports</a> -->
                            <!-- small box -->
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>
                                        Reports
                                    </h3>
                                    <p>
                                        Manage Reports
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <a href="/#/reports" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>   <!-- ./col -->
                         <div class="col-lg-3 col-xs-6 text-center">
                       <!--  <a href="/#/patients" class="btn btn-app"> <i class="fa fa-user-md"></i> Patients</a> -->
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>
                                        Patients
                                    </h3>
                                    <p>
                                        Manage Patients
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-user-md"></i>
                                </div>
                                <a href="/#/patients" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>   <!-- ./col -->
                        
                         <div class="col-lg-3 col-xs-6 text-center">
                        <!-- <a href="/#/appointment-scheduling" class="btn btn-app"><i class="fa fa-clock-o"> </i>Appointments</a> -->
                            <!-- small box -->
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>
                                        Appointments
                                    </h3>
                                    <p>
                                        Add Appointments
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <a href="/#/appointment-scheduling" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>   <!-- ./col --> 

                        <div class="col-lg-3 col-xs-6 text-center">
                        <!-- <a href="/#/appointment-scheduling" class="btn btn-app"><i class="fa fa-clock-o"> </i>Appointments</a> -->
                            <!-- small box -->
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>
                                        Appointments
                                    </h3>
                                    <p>
                                        Manage Appointments
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <a ui-sref="appointment-scheduling-view" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>   <!-- ./col --> 

                    </div><!-- /.row -->

                   

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div>   <!-- ./wrapper