<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 data-ng-if="!referrer._id">Add Referrer</h1>
        <h1 data-ng-if="referrer._id">Edit Referrer</h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/#/managereferrer">Referrers</a></li>
            <li data-ng-if="!referrer._id">Add</li>
            <li data-ng-if="referrer._id">Edit</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" data-ng-init="findOne()">
        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{'active': activeTab === 0}" id="tab_1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div class="box-body table-responsive">
                                            <div class="alert alert-dismissable" ng-class="alerttype" ng-show="message">
                                                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                                            <form role="form" name="referrerform">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label>First Name: *</label>
                                                        <input type="text" class="form-control" ng-model="referrer.first_name" placeholder="Enter first name" name="fname" required /> <span class="texterror" ng-show="referrerform.fname.$touched && referrerform.fname.$invalid">Enter referrer first name. </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Last Name: *</label>
                                                        <input type="text" class="form-control" ng-model="referrer.last_name" placeholder="Enter last name" name="lname" required />
                                                        <span class="texterror" ng-show="referrerform.lname.$touched && referrerform.lname.$invalid">Enter referrer last name. </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Select Referrer Type: *</label>
                                                        <select class="form-control" ng-model="referrer.referrer_type" ng-options="obj.title for obj in referrerTypeData track by obj._id" name="ptype" required>
                                                            <option value="">Select Referrer Type</option>
                                                        </select>
                                                        <span class="texterror" ng-show="referrerform.ptype.$touched && referrerform.ptype.$invalid">Select Referrer Type</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Address: *</label>
                                                        <textarea type="text" class="form-control" ng-model="referrer.address" placeholder="Enter Address" name="address" required /></textarea>
                                                        <span class="texterror" ng-show="referrerform.address.$touched && referrerform.address.$invalid">Enter address</span>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label>City:</label>
                                                        <input type="text" class="form-control" ng-model="referrer.city" placeholder="Enter City" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>State:</label>
                                                        <select class="form-control" ng-model="referrer.state" ng-options="obj.abbreviation as obj.name for obj in states">
                                                            <option value="">Select State</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Zipcode:</label>
                                                        <input type="text" class="form-control" ng-model="referrer.zipcode" placeholder="Enter Zipcode" numbers-only>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Email: *</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon" id="sizing-addon2">@</span>
                                                            <input type="email" class="form-control" placeholder="Email" aria-describedby="sizing-addon2" ng-model="referrer.email" placeholder="Enter Email" name="email" required />
                                                            <span class="texterror help-block" ng-show=" subscriberform.email.$error.email" class="help-block">Enter a valid email address.</span>
                                                        </div>
                                                        <span class="texterror" ng-show="referrerform.email.$touched && referrerform.email.$invalid">Enter email address</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Status:</label>
                                                        <div class="checkbox status_check">
                                                            <label>
                                                                <input type="checkbox" name='enable' ng-model='referrer.enable' checked="{{enableChecked}}" /> Enable
                                                            </label>
                                                        </div>
                                                    </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                <div class="box-footer clearfix no-border">
                    <button data-ng-if="!referrer._id" class=" btn m_lft5  btn-primary pull-right" data-ng-click="updateData(0)" ng-disabled="referrerform.$invalid"><i class="fa fa-check p-r-10"></i> Add Referrer</button>
                    <button data-ng-if="referrer._id" class="btn m_lft5 btn-primary pull-right" data-ng-click="updateData(1)" ng-disabled="referrerform.$invalid"><i class="fa fa-check p-r-10"></i> Update Referrer</button>
                    <a class="btn btn-primary m-r-10 pull-right m_lft5" href="/#/managereferrer"><i class="fa fa-reply p-r-10"></i> Cancel</a>
                    <!--<button class="btn btn-default m-r-10 pull-right" ng-click="cleardata()" href="#"><i class="fa fa-reply"></i>Clear</button>-->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
