<aside class="right-side" data-ng-init="findOne()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Default Diagnosis
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a ui-sref="default-diagnosis">Default Diagnosis</a></li>
            <li>Add</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" ng-cloak>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                   
                    <div class="box-body table-responsive">
                        <div class = "alert alert-dismissable" ng-class="alerttype" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                        
                        <form role="form" name="diagnoseform">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Title:*</label>
                                    <input type="text" class="form-control" id="title" name='title' ng-model="diagnose.title" placeholder="Enter Title" name="title" required />
                                    <span ng-show="diagnoseform.title.$invalid && diagnoseform.title.$touched " class="texterror">Enter Diagnosis title.</span>
                                </div>
                                <div class="form-group">
                                    <label>Code:*</label>
                                    <input type="text" class="form-control" id="diagnosiscode" name='code' ng-model="diagnose.code" placeholder="Enter Diagnosis code"  required />
                                    <span ng-show="diagnoseform.code.$invalid && diagnoseform.code.$touched " class="texterror">Enter Diagnosis Code.</span>
                                </div>
                                <div class="form-group">
                                    <label>Appointment Type:*</label>
                                    <div ng-repeat = "at in appointmentTypeList"> <input type="checkbox" ng-model="at.selected"/> {{at.title }} </div>
                                </div>
                                <div class="form-group">
                                    <label>Status:</label>
                                    <div class="checkbox status_check">
                                        <label>
                                            <input type="checkbox" name='enable' id='enable' ng-model='diagnose.enable' checked="{{enableChecked}}"/>
                                            Enable
                                        </label>
                                    </div>
                                    </div><!-- /.box-body -->
                                    <div class="box-footer clearfix no-border">
                                        <button type="button" data-ng-if="!diagnose._id" class=" btn m_lft5  btn-primary pull-right" data-ng-click="update(0)" ng-disabled="diagnoseform.$invalid"><i class="fa fa-check" ></i> Add Diagnosis</button>
                                        <button type="button" data-ng-if="diagnose._id" class="btn m_lft5 btn-primary pull-right" data-ng-click="update(1)" ng-disabled="diagnoseform.$invalid"><i class="fa fa-check"></i> Update Diagnosis</button>
                                        <a class="btn btn-primary m-r-10 pull-right m_lft5" ui-sref="default-diagnosis"><i class="fa fa-reply p-r-10"></i>Cancel</a>
                                        <!--<button class="btn btn-default m-r-10 pull-right" ng-click="cleardata()" href="#"><i class="fa fa-reply"></i>Clear</button>-->
                                    </div>
                                </form>
                                
                                </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div>
                        </div>
                        </section><!-- /.content -->
                        </aside><!-- /.right-side -->