<aside class="right-side" data-ng-init="listAllDiagnosis()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
                 Default Diagnosis Management                      
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Default Diagnosis</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" ng-cloak>
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive">
                    <div ng-class="alerttype" ng-show="showmessage">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                    
                        <div class="box-body table-responsive">
                            <div class="clearfix">
                                <div class="clearfix"></div>
                                <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                    <div class="input-group">
                                        <span class="input-group-addon">Except for...
                                        <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                      </span>
                                        <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                        <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                          <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <form role="form">
                                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                                    <colgroup>
                                        <col width="5%" />
                                        <col width="5%" />
                                        <col width="50%" />
                                        <col width="40%" />
                                        <!-- <col width="20%"/>
                                              <col width="20%"/> -->
                                    </colgroup>
                                    <tr ng-repeat="diagnose in $data">
                                        <td header="'headerCheckbox.html'">
                                            <input type='checkbox' ng-model="checkboxes.items[diagnose._id]" ng-change="toggleSelection(diagnose._id)" value="{{diagnose._id}}" />
                                        </td>
                                        <td data-title="'Status'" sortable="'enable'" align='left'>
                                            <div ng-if="diagnose.enable==true"><img src='images/enable.png' border='0'></div>
                                            <div ng-if="diagnose.enable==false"><img src='images/disable.png' border='0'></div>
                                        </td>
                                        <td data-title="'Title'" sortable="'title'" filter="{title:'text'}" align="left">{{diagnose.title}}</td>
                                         <!-- <td data-title="'Title'" sortable="'title'" filter="{title:'text'}" align="left"><a href="/#/default-diagnosis/edit/{{diagnose._id}}" alt="Click to edit" title="Click to edit">{{diagnose.title}}</a></td> -->
                                        <td data-title="'Code'" sortable="'code'" filter="{title:'text'}" align="left">{{diagnose.code}}</td>
                                        <td data-title="'Action'" sortable="'code'" filter="{title:'text'}" align="left"><a href="/#/default-diagnosis/edit/{{diagnose._id}}" alt="Click to edit" title="Click to edit"><i class="glyphicon glyphicon-edit"></i></a></td>

                                    </tr>
                                    <tr>
                                        <td colspan='2'>
                                            <div class="form-group"><a ui-sref="default-diagnosis-add" align='right' class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>Add New Diagnosis</a></div>
                                        </td>
                                        <td colspan='3'>
                                            <div class="form-group" style="width:20%;display:inline-block;margin-right:1%;">
                                                <select class="form-control" name='selectedAction' id='selectedAction'>
                                                    <option value="0">Select</option>
                                                    <option value="1">Enable</option>
                                                    <option value="2">Disable</option>
                                                    <option value="3">Delete</option>
                                                </select>
                                            </div>
                                            <input type='button' name='go' value='Go' class='btn btn-primary' ng-click="performDiagnosisAction()" style="width:auto;display:inline-block">
                                        </td>
                            </form>
                            </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
<!-- page script -->
<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" data-ng-click="toggleSelection(0)" class="select-all" value="" />
</script>
