           <div class="form-box">
            <div class="alert alert-danger alert-dismissable" ng-show="message"><i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
            <div class="header">Forgot Username</div>
            <form>
                <div class="body bg-gray">
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="Enter Email" ng-model='email' />
                    </div>
                    </div>
                <div class="footer">                                                               
                    <button type="submit" class="btn bg-olive btn-block" name="resend" ng-click="resendUsername()">Resend Username</button>
                    <a href="/#/login" class="text-center"> Back to login</a>
                </div>                         
            </form>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
