           <div class="form-box" id="login-box">
            <div class="alert alert-danger alert-dismissable" ng-show="error"><i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{error}}</div>
            <div class="header">Sign In</div>
            <form>
                <div class="body bg-gray">
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Email" ng-model='username' />
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" ng-model='password' />
                    </div>          
                    <div class="form-group">
                        <input type="checkbox" name="remember_me" ng-model="remember_me"/> Remember me
                    </div>
                </div>
                <div class="footer">                                                               
                    <button type="submit" class="btn bg-olive btn-block" name="login" ng-click="login()">Sign me in</button>  
                    
                     <p><a href="/#/forgot-password">I forgot my password</a></p>
                     <p><a href="/#/forgot-username"> Forgot username</a> </p>
                    <!-- <a href="/#/users/signup" class="text-center">Register a new membership</a> -->
                </div>
            </form>

        <!--     <div class="margin text-center">
                <span>Sign in using social networks</span>
                <br/>
                <button class="btn bg-light-blue btn-circle"  ng-click="authenticate('facebook')"><i class="fa fa-facebook"></i></button>
                <button class="btn bg-aqua btn-circle" ng-click="authenticate('twitter')"><i class="fa fa-twitter"></i></button>
                <button class="btn bg-red btn-circle" ng-click="authenticate('google')"><i class="fa fa-google-plus"></i></button>

            </div> -->
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
