<form name="myform">
<div class="form-box">
            <div class="alert alert-danger alert-dismissable" ng-show="message"><i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>

            <div class="header">Reset Password</div>
            <form>
                <div class="body bg-gray">
                    <div class="form-group">
                    <label>New Password</label>
                        <input type="password" name="password" class="form-control" placeholder="New Password" ng-model='Data.password' required/>
      
       <br><br>
                    <div class="form-group">
                    <label>Confirm Password</label>
                        <input type="password" name="cpassword" class="form-control" placeholder="Confirm Password" ng-model='Data.cpassword' ng-pattern="Data.password" required/>
       
       <span ng-show="myform.cpassword.$error.pattern">Passwords do not match.</span>
       <br><br>
                    </div>
                <div class="footer">                                                               
                    <button type="submit" class="btn bg-olive btn-block" name="resend" ng-click="resetPassword()">Reset Password</button>    
                     <a ui-sref="login" class="text-center" ng-show=showLogin> Back to login</a>                 
            </form>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
</div></div>
</form>