<aside class="right-side">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1 data-ng-if="!role._id">Add Role</h1>
    <h1 data-ng-if="role._id">Edit Role</h1>
    <ol class="breadcrumb">
      <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#/roles">Roles</a></li>
      <li data-ng-if="!role._id">Add</li>
      <li data-ng-if="role._id">Edit</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content" data-ng-init="findOne()">
    <div class="row">
      <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li ng-class="{'active': activeTab === 0}" data-ng-click="moveTabContents(0)"><a data-toggle="tab">Role</a></li>
            <li ng-if="role._id" ng-class="{'active': activeTab === 1}" data-ng-click="moveTabContents(1)" has-permission = "12"><a   data-toggle="tab">Permission</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane" ng-class="{'active': activeTab === 0}" id="tab_1">
              <div class="row">
                <div class="col-xs-12">
                  <div class="box">
                    <div class="box-body table-responsive">
                      <div class = "alert alert-dismissable" ng-class="alerttype" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                      <form role="form">
                        <div class="box-body">
                          <div class="form-group">
                            <label>Role Title:*</label>
                            <input type="text" class="form-control"  name='firstname' data-ng-model="role.name" placeholder="Enter Role">
                          </div>
                          <div class="form-group">
                            <label>Role Description:*</label>
                            <textarea class="form-control"  name='description' data-ng-model="role.description" placeholder="Enter Description">{{role.description}}</textarea>
                          </div>
                          <div class="form-group">
                            <label>Status</label>
                            <div class="checkbox status_check">
                              <label>
                                <input type="checkbox" name='enable'  ng-model='role.enable' checked="{{enableChecked}}"/>
                                Enable
                              </label>
                            </div>
                          </div>
                          <div class="box-footer clearfix no-border">
                            <button data-ng-if="!role._id" class="btn m_lft5  btn-primary pull-right" data-ng-click="updateData()"><i class="fa fa-check p-r-10"></i>Add Role</button>
                            <button data-ng-if="role._id" class="btn m_lft5  btn-primary pull-right" data-ng-click="updateData()"><i class="fa fa-check p-r-10"></i>Update</button>
                            <a class="btn btn-primary m-r-10 pull-right m_lft5" href="/#/roles"><i class="fa fa-reply p-r-10"></i>Cancel</a>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              </div><!-- /.tab-pane -->
              <div   class="tab-pane"  ng-class="{'active': activeTab === 1}" id="tab_2">
                <div class = "alert alert-dismissable" ng-class="alerttype" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                <table class="table">
                  <thead>
                    <tr>
                      <td></td>
                      <td style="width:100%;"><b>Permission</b></td>
                      <td class="stdc"><b>Used</b></td>
                     <!-- <td class="stdc"><b>Status</b></td>-->
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="permission in permissionData" on-finish-render class="pointer {{checkStatus(permission.used)}}" data-ng-click="editPermission(permission._id)">
                      <td ng-show = "permissionData[$index-1].parent != permission.parent"><b>{{permission.parent}}</b></td>
                      <td ng-show = "permissionData[$index-1].parent == permission.parent"></td>
                      <td class="stdl" style="width:100%;">{{permission.permission}}</td>
                      <td class="set{{permission.used}}"><i ng-show="permission.used" class="fa fa-fw fa-check-square-o" title="Used on this Objective"></i><i ng-hide="permission.used" class="fa fa-fw fa-square-o" title="Not on this Objective"></i></td>
                     <!-- <td class="set{{!permission.is_deleted}} stdc smallertext">
                        <img border="0" src="images/enable.png" ng-show="permission.is_deleted==0" class="active-data" title="Active">
                        <img border="0" src="images/disable.png" ng-hide="permission.is_deleted==0" class="inactive-data" title="Disabled">
                       
                      </td>-->
                    </tr>
                  </table>
                  <div class="box-footer clearfix no-border">
                    <button class="btn m_lft5  btn-primary pull-right" data-ng-click="updateData()"><i class="fa fa-check p-r-10"></i>Save</button>
                    <a class="btn btn-primary m-r-10 pull-right m_lft5" href="/#/roles"><i class="fa fa-reply p-r-10"></i>Cancel</a>
                  </div>
                  </div><!-- /.tab-pane -->
                  </div><!-- /.tab-content -->
                </div>
              </div>
              </section><!-- /.content -->
              </aside><!-- /.right-side -->