<script type="text/ng-template" id="permissionsview.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Permissions</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" ng-if="permissionError">{{permissionError}}</div>
        <table>
            <tr ng-repeat="perData in permissionData" ng-if="perData.used == true">
                <td>
                    <h4>{{perData.permission}}</h4></td>
            </tr>
        </table>
    </div>
</script>
<!-- /.modal -->
<aside class="right-side" ng-init="getAllRoles()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
     Manage Roles                       
   </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Roles</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive">
                    <div class="alert alert-danger alert-dismissable" ng-show="message">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                    <div class="box">
                        <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                  </div> -->
                        <div class="box-body table-responsive">
                            <div class="clearfix" style="padding-bottom:15px;">
                                <div class="box-body table-responsive">
                                    <div class="clearfix">
                                       
                                        <div class="clearfix"></div>
                                        <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                            <div class="input-group">
                                                <span class="input-group-addon">Except for...
                                            <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                          </span>
                                                <input type="text" class="form-control" placeholder="Search by Role Name" name="searchTerm" ng-model="globalSearchTerm" required />
                                                <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                              <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                    <form role="form">
                                        <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                                            <colgroup>
                                                <col width="5%" ng-if="isEditRole"/>
                                                <col width="5%" />
                                                <col width="50%" />
                                                <col width="35%" />
                                                <col width="5%"  ng-if="isEditRole"/>
                                            </colgroup>
                                            <tr ng-repeat="roleData in $data">
                                                <td header="'headerCheckbox.html'" sortable=""  ng-if="isEditRole">
                                                    <input type='checkbox' ng-model="checkboxes.items[roleData._id]" ng-change="toggleSelection(roleData._id)" value="{{roleData._id}}" />
                                                </td>
                                                <td data-title="'Status'" sortable="'enable'" align='left'>
                                                    <div ng-if="roleData.enable==true"><img src='images/enable.png' border='0'></div>
                                                    <div ng-if="roleData.enable==false"><img src='images/disable.png' border='0'>
                                                    </div>
                                                </td>
                                                <td data-title="'Role'" sortable="'name'" filter="{name:'text'}" align="left">
                                                    <a  ng-show="!isEditPermission"  href="#" alt="Click to edit" title="Click to edit">{{roleData.name}}</a>
                                                    <a ng-show="isEditPermission" alt="Click to edit" title="Click to edit">{{roleData.name}}</a>
                                                </td>
                                                <td data-title="'Action'" align="left">
                                                    <a data-target="#permission-info" data-toggle="modal" ng-click="getrolePermissionInfo(roleData._id)" ng-disabled="!viewPermission && !isEditPermission"  has-permission = "11,12">View Permissions
                                                    </a>
                                                </td>
                                                <td data-title="'Edit'"  ng-if="isEditRole">
                                                    <a href="/#/roles/edit/{{roleData._id}}" title="Click to edit"><i class="glyphicon glyphicon-edit"></i></a>
                                                </td>

                                            </tr>
                                            <tr ng-if="isEditRole">
                                                <td colspan='2'>
                                                 <div class="form-group"><a href='/#/roles/add' align='right' class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>Add New Role</a></div>
                                                </td>
                                                <td colspan='3'>
                                                    <div class="form-group" style="width:20%;display:inline-block;margin-right:1%;">
                                                        <select class="form-control" name='selectedAction' id='selectedAction'>
                                                            <option value="0">Select</option>
                                                            <option value="1">Enable</option>
                                                            <option value="2">Disable</option>
                                                            <option value="3">Delete</option>
                                                        </select>
                                                    </div>
                                                    <input type='button' name='go' value='Go' class='btn btn-primary' ng-click="performAction()" style="width:auto;display:inline-block;margin-right:1%;">
                                                </td>
                                    </form>
                                    </tr>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
<!-- page script -->
<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" data-ng-click="toggleSelection(0)" class="select-all" value="" />
</script>
