<aside class="right-side" ng-cloak>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 data-ng-if="!office._id">Add User</h1>
        <h1 data-ng-if="office._id">Edit User</h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/#/users">Users</a></li>
            <li data-ng-if="!user._id">Add</li>
            <li data-ng-if="user._id">Edit</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" data-ng-init="findOne()">
        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li ng-class="{'active': activeTab === 0}" data-ng-click="moveTabContents(0)"><a data-toggle="tab">User</a></li>
                        <li data-ng-if="user._id" ng-class="{'active': activeTab === 1}" data-ng-click="moveTabContents(1)"><a data-toggle="tab">Access Permissions</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{'active': activeTab === 0}" id="tab_1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div class="box-body table-responsive">
                                            <div ng-class="alerttype" ng-show="showmessage">
                                                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                                            <form role="form" name="userForm">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label>First Name: *</label>
                                                        <input type="text" class="form-control" ng-model="user.first_name" placeholder="Enter Firstname" name="fname" required/>
                                                        <span class="texterror" ng-show="userForm.fname.$touched && userForm.fname.$invalid">First name is required.</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Last Name: *</label>
                                                        <input type="text" class="form-control" ng-model="user.last_name" placeholder="Enter Lastname" name="lname" required>
                                                        <span class="texterror" ng-show="userForm.lname.$touched && userForm.lname.$invalid">Last name is required.</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Role: *</label>
                                                        <select class="form-control" name="urole" ng-model="user.role" ng-options="obj._id as obj.name for obj in roleData" required>
                                                            <option value="">Select Role</option>
                                                        </select>
                                                        <span class="texterror" ng-show="userForm.urole.$touched && userForm.urole.$invalid">Select user role.</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Email: *</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon">@</div>
                                                            <input type="email" class="form-control" ng-model="user.email" placeholder="Enter Email" name="email" required>
                                                        </div>
                                                        <span class="texterror" ng-show="officeForm.email.$invalid && !officeForm.email.$pristine" class="help-block">Enter a valid email.</span>
                                                        <span class="texterror" ng-show="userForm.email.$touched && userForm.email.$invalid">Enter a valid email.</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Username: *</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="glyphicon glyphicon-user"></i>
                                                            </div>
                                                            <input type="text" class="form-control" ng-model="user.username" placeholder="Enter Username" name="uname" required/>
                                                        </div>
                                                        <span class="texterror" ng-show="userForm.uname.$touched && userForm.uname.$invalid">Enter the username.</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <span ng-show="user._id">
                                
                                <div class="clearfix">
                                  <label>Change Password:</label><input type="checkbox" name="changepassword" ng-model="user.userchangepassword">
                                </div>
                                
                              </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label ng-show="user.userchangepassword || !user._id">Password:</label>
                                                        <div class="input-group" ng-show="user.userchangepassword || !user._id">
                                                            <div class="input-group-addon">
                                                                <i class="glyphicon glyphicon-lock"></i>
                                                            </div>
                                                            <input type="password" ng-show="user.userchangepassword || !user._id" class="form-control" ng-model="user.password" placeholder="Enter password" name="password" required="!user._id || user.userchangepassword">
                                                        </div>
                                                        <span class="texterror" ng-show="userForm.password.$touched && userForm.password.$invalid">Enter Password.</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Date Of Birth:</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </div>
                                                            <input type="text" class="datepicker form-control" ng-model="user.dob" placeholder="Enter Date Of Birth">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Address:</label>
                                                        <input type="text" class="form-control" ng-model="user.address" placeholder="Enter Address">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Zipcode:</label>
                                                        <input type="text" class="form-control" ng-model="user.zipcode" placeholder="Enter Zipcode" numbers-only>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>City:</label>
                                                        <input type="text" class="form-control" ng-model="user.city" placeholder="Enter City" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>State:</label>
                                                        <select class="form-control" ng-model="user.state" ng-options="obj.abbreviation as obj.name for obj in states">
                                                            <option value="">Select State</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>User Designation: </label>
                                                        <input type="text" class="form-control" ng-model="user.designation" placeholder="Enter Designation" />
                                                    </div>
                                                    <div class="col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <div class="form-elements label-up-active">
                                                                <label>Offices: *</label>
                                                                <div ng-repeat="office in officeList">
                                                                    <input type="checkbox" ng-model="office.selected" /> {{office.title }} </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <div class="form-elements label-up-active">
                                                                <label>Status:</label>
                                                                <div class="checkbox status_check">
                                                                    <label>
                                                                        <input type="checkbox" name='enable' ng-model='user.enable' checked="{{enableChecked}}" /> Enable
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" ng-class="{'active': activeTab === 1}" id="tab_2">
                            <div class="box">
                                <div class="box-body table-responsive">
                                    <div ng-class="alerttype1" ng-show="showmessage1">
                                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message1}}</div>
                                    <form role="form" name="permissionForm">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label>Access Days: *</label>
                                                <br />
                                                <div class="accessdays">
                                                    <label ng-repeat="day in days">
                                                        <input type="checkbox" name="selectedDays[]" value="{{day}}" ng-checked="daysselection.indexOf(day) > -1" ng-click="editaccessdays(day)"> {{day}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <!--  <div class="clearfix timing_wrap">
                                  <label class="timing_wrap-label">Access Time:
                                  beginning and ending times:</label>
                                  
                                  <input type="text" class="timepicker form-control" ng-model="user.access_start_time" placeholder="HH:MM" style="width:49%;display:inline-block;"><label style="padding:0 5px 0 5px;">To</label>
                                  <input type="text" class="timepicker form-control" ng-model="user.access_end_time" placeholder="HH:MM" style="width:49%;display:inline-block;">
                                </div> -->
                                                <label>Access Timings: *</label>
                                                <div class="clearfix">
                                                    <div class="col-sm-7">
                                                        <div class="form-group row clearfix clockinput">
                                                            <div class="left" class="col-xs-6">
                                                                <label> <small><u>Beginning Time:</u></small></label>
                                                                <uib-timepicker ng-model="access_start_time" hour-step="1" minute-step="1" show-meridian="true" name="startTime" required></uib-timepicker>
                                                                <span class="texterror" ng-show="permissionForm.startTime.$touched && permissionForm.startTime.$invalid">Enter Access start time.</span>
                                                            </div>
                                                            <div class="right" class="col-xs-6">
                                                                <label><small><u>Ending Time:</u></small></label>
                                                                <uib-timepicker ng-model="access_end_time" hour-step="1" minute-step="1" show-meridian="true" name="endTime" required></uib-timepicker>
                                                                <span class="texterror" ng-show="permissionForm.endTime.$touched && permissionForm.endTime.$invalid">Enter Access end time.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="isEditGrid">
                                              <div class="form-group">
                                                  <div class="checkbox status_check">
                                                      <label>
                                                          <input type="checkbox" name='iprestrictions' ng-model='user.iprestrictions' checked="{{iprestrictionsChecked}}" /> Restrict allowed IPs
                                                      </label>
                                                  </div>
                                              </div>
                                              <label>Allowed IPs:<span ng-if="user.iprestrictions">*</span></label>
                                              <div class="form-group" data-ng-if="!user._id && !user.iprestrictions">
                                                  <input type="text" class="form-control" ng-model="user.allowed_ip" placeholder="IP Address" style="width:50%;display:inline-block;"><i class="fa fa-plus p-r-10" ng-click="addIpAddressCnt(0)" style="margin-left:15px;cursor: pointer;"></i>
                                              </div>
                                              <div class="form-group" data-ng-if="!user._id && user.iprestrictions">
                                                  <input type="text" class="form-control" ng-model="user.allowed_ip" placeholder="IP Address" style="width:50%;display:inline-block;" required><i class="fa fa-plus p-r-10" ng-click="addIpAddressCnt(0)" style="margin-left:15px;cursor: pointer;"></i>
                                              </div>
                                              <div class="form-group" data-ng-if="user._id && !user.iprestrictions">
                                                  <input type="text" class="form-control" ng-model="user.allowed_ip" placeholder="IP Address" style="width:50%;display:inline-block;"><i class="fa fa-plus p-r-10" ng-click="addIpAddressCnt(earlieripcnt)" style="margin-left:15px;cursor: pointer;"></i>
                                              </div>
                                              <div class="form-group" data-ng-if="user._id && user.iprestrictions">
                                                  <input type="text" class="form-control" ng-model="user.allowed_ip" placeholder="IP Address" style="width:50%;display:inline-block;" required><i class="fa fa-plus p-r-10" ng-click="addIpAddressCnt(earlieripcnt)" style="margin-left:15px;cursor: pointer;"></i>
                                              </div>
                                              <div class="form-group" ng-repeat="ip in ipaddresses" ng-if="!user.iprestrictions">
                                                  <input type="text" class="form-control" ng-model="allowedip_others[$index]" placeholder="IP Address" style="width:50%;display:inline-block;"><i class="fa fa-minus p-r-10" ng-click="remIP($index)" style="margin-left:15px;cursor: pointer;" id="ipv4" /></i>
                                              </div>
                                              <div class="form-group" ng-repeat="ip in ipaddresses" ng-if="user.iprestrictions">
                                                  <input type="text" class="form-control" ng-model="allowedip_others[$index]" placeholder="IP Address" style="width:50%;display:inline-block;" required><i class="fa fa-minus p-r-10" ng-click="remIP($index)" style="margin-left:15px;cursor: pointer;" id="ipv4" /></i>
                                              </div>
                                            </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                </div>
                <div class="box-footer clearfix no-border">
                    <button data-ng-if="!user._id" class="btn-primary btn m_lft5 pull-right" data-ng-click="updateData(0)" ng-disabled="userForm.$invalid"><i class="fa fa-check p-r-10"></i> Add User</button>
                    <button data-ng-if="user._id && activeTab != 1" class="btn m_lft5 btn-primary pull-right" data-ng-click="updateData(0)" ng-disabled="userForm.$invalid"><i class="fa fa-check p-r-10"></i> Update User</button>
                    <button data-ng-if="user._id && activeTab == 1" class="btn m_lft5 btn-primary pull-right" data-ng-click="updateDataPermission(1)" ng-disabled="permissionForm.$invalid"><i class="fa fa-check p-r-10"></i> Save User Permissions</button>
                    <a class="btn btn-primary m-r-10 pull-right m_lft5" href="/#/users"><i class="fa fa-reply p-r-10"></i>Cancel</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
