<aside class="right-side" ng-init="getAllUsers()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
                    Manage Users                       
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Manage Users</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive">
                    <div ng-class="alerttype" ng-show="showmessage">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                    <div class="box">
                        <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                </div> -->
                        <div class="box-body table-responsive">
                            <div class="clearfix" style="padding-bottom:15px;">
                                <div class="box-body table-responsive">
                                    <div class="clearfix">
                                        <div class="clearfix"></div>
                                        <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                            <div class="input-group">
                                                <span class="input-group-addon">Except for...
                                        <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                      </span>
                                                <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                                <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                          <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                     <form role="form">
                                        <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                                            <colgroup>
                                                <col width="5%" ng-if="isEditUser"/>
                                                <col width="5%" />
                                                <col width="20%" />
                                                <col width="20%" />
                                                <col width="20%" />
                                                <col width="5%" ng-if="isEditUser" />
                                            </colgroup>
                                            <tr ng-repeat="user in $data">
                                                <td header="'headerCheckbox.html'" ng-if="isEditUser">
                                                    <input type='checkbox' ng-model="checkboxes.items[user._id]" ng-change="toggleSelection(user._id)" />
                                                </td>
                                                <td data-title="'Status'" sortable="'enable'" align='left'>
                                                    <div ng-if="user.enable==true"><img src='images/enable.png' border='0'></div>
                                                    <div ng-if="user.enable==false"><img src='images/disable.png' border='0'></div>
                                                </td>
                                                <td data-title="'First Name'" sortable="'first_name'" filter="{first_name:'text'}" align="left">{{user.first_name}}</td>
                                                <!--  <td data-title="'First Name'" sortable="'first_name'" filter="{first_name:'text'}" align="left"><a href="/#/users/edit/{{user._id}}" alt="Click to edit" title="Click to edit">{{user.first_name}}</a></td> -->
                                                <td data-title="'Last Name'" sortable="'last_name'" filter="{last_name:'text'}" align="left">{{user.last_name}}</td>
                                                <td data-title="'Email'" sortable="'email'" filter="{email:'text'}" align="left">{{user.email}}</td>
                                                <td  ng-if="isEditUser" data-title="'Action'" sortable="'email'" filter="{email:'text'}" align="left" title="Click to edit"><a href="/#/users/edit/{{user._id}}" has-permission = "14"><i class="glyphicon glyphicon-edit"></i></a></td>
                                            </tr>
                                            <tr has-permission = "14" >
                                                <td colspan='2'>
                                                    <div class="form-group"  ><a href='/#/users/add' align='right' class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>Add New User</a></div>
                                                </td>
                                                <td colspan='4'>
                                                    <div class="form-group" style="width:20%;display:inline-block;margin-right:1%;">
                                                        <select class="form-control" name='selectedAction' id='selectedAction'>
                                                            <option value="0">Select</option>
                                                            <option value="1">Enable</option>
                                                            <option value="2">Disable</option>
                                                            <option value="3">Delete</option>
                                                        </select>
                                                    </div>
                                                    <input type='button' name='go' value='Go' class='btn btn-primary' ng-click="performAction()" style="width:auto;display:inline-block;margin-right:1%;">
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
<!-- page script -->
<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" />
</script>
