<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
                        Constraints
                    </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="/#/subscribers">Constraints</a></li>
            <li>Add</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" data-ng-init="findOne()">
        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{'active': activeTab === 0}" id="tab_1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div class="box-body table-responsive">
                                            <div class="alert alert-dismissable" ng-class="alerttype" ng-show="message">
                                                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                                            <form role="form" name="subscriberform">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label>Constraint Name</label>
                                                        <input type="text" class="form-control" ng-model="user.constraint" placeholder="Enter Constraint">
                                                        <label>value</label>
                                                        <input type="number" class="form-control" ng-model="user.value" placeholder="Enter Numeric Value">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name='enable' ng-model='user.enable' checked="{{enableChecked}}" /> Enable
                                                            </label>
                                                        </div>
                                                    </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                <div class="box-footer clearfix no-border">
                    <button data-ng-if="!user._id" class=" btn m_lft5  btn-primary pull-right" data-ng-click="updateData(0)"><i class="fa fa-check"></i>Save Changes</button>
                    <button data-ng-if="user._id" class="btn m_lft5 btn-primary pull-right" data-ng-click="updateData(1)"><i class="fa fa-check"></i>Update</button>
                    <a class="btn btn-primary m-r-10 pull-right m_lft5" href="/#/constraints"><i class="fa fa-reply p-r-10"></i>Cancel</a>
                    <!--<button class="btn btn-default m-r-10 pull-right" ng-click="cleardata()" href="#"><i class="fa fa-reply"></i>Clear</button>-->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
