<aside class="right-side" ng-init="getAllOffices()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
                    <h1>
                      Manage Constraints                      
                    </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li>Manage Constraints</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive">
                   <div ng-class="alerttype" ng-show="showmessage">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                    <div class="box">
                        <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                </div> -->
                        <div class="box-body table-responsive">
                            <div class="clearfix" style="padding-bottom:15px;">
                                <div class="box-body table-responsive">
                                    <div class="clearfix">
                                        <!-- <div class="pull-left m_btm15"><a href='/#/constraints/add' align='right' class="btn btn-primary">Add New Constraints</a></div> -->
                                         <div class="pull-left m_btm15" >
                                            <form name="">
                                                <select class="form-control" ng-model="searchConstraint.office_id" ng-options="obj.title for obj in officeData track by obj._id" style="width:62%;display:inline-block;" ng-change="officeChanged()">
                                                    <option value="">Select Office</option>
                                                </select>
                                               <button class="btn btn-primary pull-right" data-ng-click="getAllConstraints()">Search</button>
                                            </form>
                                        </div>
                                        <div class="clearfix"></div>
                                       
                                    </div>
                                    <form role="form">
                                        <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                                            <colgroup>
                                                <col width="3%" ng-if="isEditGrid" />
                                                <col width="5%" />
                                                <col width="82%" />
                                                <col width="10%" />
                                                
                                            </colgroup>
                                            <tr ng-repeat="user in $data">
                                                <td ng-if="isEditGrid" header="'headerCheckbox.html'">
                                                    <input type='checkbox' ng-model="checkboxes.items[user._id]" ng-change="toggleSelection(user._id)" />
                                                </td>
                                                <td data-title="'Status'" sortable="'enable'" align='left'>
                                                    <div ng-if="user.enable==true"><img src='images/enable.png' border='0'></div>
                                                    <div ng-if="user.enable==false"><img src='images/disable.png' border='0'></div>
                                                </td>
                                                <td data-title="'Constraint'" sortable="'constraint'" filter="{constraint:'text'}" align="left" style="color:#3c8dbc">{{user.constraint}}</td>
                                                <td data-title="'Value'" sortable="'value'" filter="{value:'text'}" align="left">
                                                    <input  style="width:60%;" type="number" ng-model="user.value"  ng-change="updateValue(user._id,user.constraint,user.value)" class="form-control" id="{{user._id}}" ng-model-options="{updateOn: 'blur'}" required="required"  ng-disabled="!isEditGrid"  >
                                                     <!-- numbers-only  -->
                                                </td>
                                            </tr>
                                            <tr ng-if="!$data.length">
                                                <td colspan="4" style="text-align:center"> No constraints found</td>
                                            </tr>
                                            <tr ng-if="isEditGrid">
                                                <td colspan='2'>
                                                    <div class="form-group">
                                                        <select class="form-control" name='selectedAction' id='selectedAction'>
                                                            <option value="0">Select</option>
                                                            <option value="1">Enable</option>
                                                            <option value="2">Disable</option>
                                                            
                                                        </select>
                                                    </div>
                                                </td>
                                                <td colspan='2'>
                                                    <input type='button' name='update' value='Update' class='btn btn-primary' ng-click="performAction()" ng-show="isEditGrid" >
                                                   
                                                </td>
                                            </tr>
                                    </form>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->
<!-- page script -->
<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" />
</script>
