<aside class="right-side" data-ng-init="findOne()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Default Appointment Types
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a ui-sref="default-appointmenttype">Default Appt. Types</a></li>
            <li>Add</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" ng-cloak>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    
                    
                    <div class="box-body table-responsive">
                        <div class = "alert alert-dismissable" ng-class="alerttype" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                        
                        <form role="form" name="apptTypeform">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Title:*</label>
                                    <input type="text" class="form-control" id="category_name" name='title' ng-model="apptType.title" placeholder="Enter Title" required><span ng-show="apptTypeform.title.$invalid && apptTypeform.title.$touched " class="texterror">Enter Diagnosis title.</span>
                                </div>
                                <div class="form-group">
                                    <label>Description:</label>
                                    <textarea class="form-control"  name='description' data-ng-model="apptType.description" placeholder="Enter Description">{{apptType.description}}</textarea>
                                </div>
                                
                                <div class="form-group">
                                    <label>Status:</label>
                                    <div class="checkbox status_check">
                                        <label>
                                            <input type="checkbox" name='enable' id='enable' ng-model='apptType.enable' checked="{{enableChecked}}"/>
                                            Enable
                                        </label>
                                    </div>
                                </div>
                                </div><!-- /.box-body -->
                                <div class="box-footer clearfix no-border">
                                    <button data-ng-if="!apptType._id" class=" btn m_lft5  btn-primary pull-right" data-ng-click="update(0)" ng-disabled="apptTypeform.$invalid"><i class="fa fa-check"></i> Add appointment type</button>
                                    <button data-ng-if="apptType._id" class="btn m_lft5 btn-primary pull-right" data-ng-click="update(1)" ng-disabled="apptTypeform.$invalid"><i class="fa fa-check"></i> Update appointment type</button>
                                    <a class="btn btn-primary m-r-10 pull-right m_lft5" ui-sref="default-appointmenttype"><i class="fa fa-reply p-r-10"></i>Cancel</a>
                                   
                                </div>
                            </form>
                            
                            </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>
                    </section><!-- /.content -->
                    </aside><!-- /.right-side -->