<aside class="right-side" ng-init="initGrid()">
                <!-- Content Header (Page header) -->
                <section class="content-header">
            <h1>Patient Type Adjustments</h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i>Home</a></li>
                        <li>Manage Patient Type Adjustments</li>                       
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-body">
                                 <div ng-class="alerttype" ng-show="showmessage">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>   
                            <div class="box">
                                
                        
                                 <div class="box-body">
                                    <div class="clearfix" style="padding-bottom:15px;">
                                            <div class="box-body">
                                            
                                            <div class="clearfix">


                                            <!-- <div class="pull-left m_btm15"><p  align='right' class="strong"  >Select Office:</p></div>
                                            <div class="pull-right m_lft5" style="float:left !important;">
                                             <select class="form-control" ng-model="office_id" ng-options="obj._id as obj.title for obj in officeData " ng-change="changeOffice(office_id)">
                                            <option value="">Select Office</option>
                                            </select>
                                            </div> -->

                                            <div class="pull-left m_btm15"><p  align='right' class="strong"  >Select Diagnosis:</p></div>
                                            <div class="pull-right m_lft5" style="float:left !important;">

                                              <select class="form-control" ng-model="diagnosis" ng-options="diagnose._id as diagnose.title for diagnose in diag" ng-change="Diagnose()" style="width:auto;display:inline-block">
                                                <option value="">Select</option>
                                              </select>
                                            </div>
                                             
                                            <form name="searchTask" novalidate ng-submit="tasksSearch()">
                                            </form>
                                             <div class="clearfix"></div>
                               
                                <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                              </form>
                              </div>                         

                           <form role="form">
 
            <!-- New Page  -->
                 

                         

                    <div class="row" ng-show="diagnosis">
                        <div class="col-xs-11" >
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                    <div style="margin-top: 0.7%; color: #367FA9; ">
                                        Entered values will be considered as percentage of base task time values.                           
                                    </div>

                                    <div class="box-tools">
                                        <div class="input-group">
                                        </div>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-body table-responsive no-padding patient_table">
                                    <table class="table table-bordered adjustment_table">
                                        <tr>
                                            <th width="10%">Patient Type</th>
                                            
                                            <th class="align-center" colspan="{{taskData.length }}">Tasks </th>
                                            
                                        </tr> 

                                        <tr>
                                            <th></th>
                                            <th ng-repeat="task in taskData">{{task.title}}</th>
                                        </tr>
                                        <tr ng-repeat="obj in pt">
                                            <td>{{obj.title }}</td>

                                             <td ng-repeat="task in taskData" >
                                             <input type="text" ng-model="gridData[obj._id][task._id]" valid-number  change-on-blur="updateValue(gridData, obj._id, task._id, this)"   class="form-control"  id="{{obj._id}}-{{task._id}}"   ng-disabled="!isEditGrid" />
                                             </td>    
                                        </tr>
                                        <!-- numbers-only="numbers-only" -->
                                     </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    

          
                             <div class="col-xs-1" style="margin-left:-12px;  padding: 0 0 0 9px;" ng-show="isEditGrid">
                            <div class="pull-left m_btm15">
                                <button  ng-click="addTask()" align="right" class="btn btn-primary"><i class="fa fa-plus p-r-10"></i>
                                Tasks
                            </div>
                           

                         </div>

                    <div class="" ng-show="diagnosis && isEditGrid" >

                        <div class="col-xs-12">
                           <div class="pull-left m_btm15">
                           <!-- ui-sref="default-appointmenttype" -->
                                <button ng-click="addptType()"  align="right" class="btn btn-primary"><i class="fa fa-plus p-r-10"></i> Patient Type</button>
                            </div>
                        </div>
                    </div>

                    </div>

                    

            <!-- New Page End  -->

                               
            <!-- page script -->

        <!-- <div class="modal fade" id="permission-info" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
        </div> -->

          
<script type="text/ng-template" id="addpatientttype.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="Cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Patient Type</h4>
    </div>
  
        <div class="modal-body">
<div class="row">
                        <div class="col-xs-12">
                            <div class="">
                                <div class=" table-responsive">
                                    <div ng-show="showmessage" ng-class="alerttype">
                                                            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button> {{message}} </div>
                                                                    
                                     <form name="patientTypeform" role="form" class="ng-pristine ng-valid">
                                                                <div class="box-body">
                                                                    <div class="form-group">
                                                                        <label>Title: *</label>
                                                                        <input type="text" placeholder="Enter Title" ng-model="patienttype.title" name="title" class="form-control ng-pristine ng-untouched ng-valid" required />
                                                                        <span class="texterror" ng-show="patientTypeform.title.$touched && patientTypeform.title.$invalid">The title is required.</span>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Status:</label>
                                                                        <div class="checkbox status_check">
                                                                            <label>
                                                                                <input type="checkbox" checked="{{enableChecked}}" ng-model="patienttype.enable" id="enable" name="enable" class="ng-pristine ng-untouched ng-valid"> Enable
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /.box-body -->
                                                                    <div class="box-footer clearfix no-border">
                                                                        <button data-ng-click="updatedData(0)" class="btn m_lft5  btn-primary pull-right ng-scope" data-ng-if="!patienttype._id" ng-disabled="patientTypeform.$invalid"><i class="fa fa-check"></i> Patient Type</button>
                                                                        <button ng-click="Cancel()" class="btn btn-primary m-r-10 pull-right m_lft5"><i class="fa fa-reply p-r-10"></i> Cancel</button>
                                                                    </div>
                                                                </div>
                                                            </form><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </div>
        </div>
        

</script>
          
          <script type="text/ng-template" id="addtaskmodal.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="Cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Task</h4>
    </div>
  
        <div class="modal-body">
<div class="row">
                        <div class="col-xs-12">
                            <div class="">
                                <div class=" table-responsive">
                                   <div ng-show="showmessage" ng-class="alerttype">
                                                            <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button> {{message}} </div>
                                                                    
                                         <form role="form" name="taskForm">
                                                                <div class="box-body">
                                                                    <div class="form-group">
                                                                        <label>Task Title: *</label>
                                                                        <input type="text" class="form-control" ng-model="task.title" placeholder="Enter Task Title" name="title" required />
                                                                         <span class="texterror" ng-show="taskForm.title.$touched && taskForm.title.$invalid">The title is required.</span>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Task Code: *</label>
                                                                        <input type="text" class="form-control" ng-model="task.code" placeholder="Enter Task Code" name="code" required />
                                                                         <span class="texterror" ng-show="taskForm.code.$touched && taskForm.code.$invalid">The code is required.</span>
                                                                    </div>
                                                                    <div class="form-group">
                                                                    <label>Status:</label>
                                                                        <div class="checkbox status_check">
                                                                            <label>
                                                                                <input type="checkbox" name='enable' ng-model='task.enable' checked="{{enableChecked}}" /> Enable
                                                                            </label>
                                                                        </div>
                                                                        <button data-ng-click="updatedData(0)" class="btn m_lft5  btn-primary pull-right ng-scope" data-ng-if="!task._id" ng-disabled="taskForm.$invalid"><i class="fa fa-check"></i> Add Task</button>
                                                                        <button ng-click="cancel()" class="btn btn-primary m-r-10 pull-right m_lft5"><i class="fa fa-reply p-r-10"></i> Cancel</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                <!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </div>
        </div>
        

</script>     