<aside class="right-side">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
    Tasks
    </h1>
    <ol class="breadcrumb">
      <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="/#/default-tasks">Tasks</a></li>
      <li>Add</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content" data-ng-init="findOne()" ng-cloak>
    <div class="row">
      <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
          <div class="tab-content">
            <div class="tab-pane" ng-class="{'active': activeTab === 0}" id="tab_1">
              <div class="row">
                <div class="col-xs-12">
                  <div class="box">
                    <div class="box-body table-responsive">
                      <div class = "alert alert-dismissable" ng-class="alerttype" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                      <form role="form" name="taskForm">
                        <div class="box-body">
                          <div class="form-group">
                            <!-- <label>Select Diagnosis</label>
                            <select class="form-control" ng-model="task.diagnosis" ng-options="obj._id as obj.title for obj in diags">
                              <option value="">Select diagnosis</option>
                            </select>
                            
                            <label>Appt Type</label>
                            <select class="form-control" ng-model="task.appointmentType" ng-options="obj._id as obj.title for obj in appt">
                              <option value="">Select Appointment type</option>
                            </select> -->
                            <label>Task Title:*</label>
                            <input type="text" class="form-control"  ng-model="task.title" placeholder="Enter Task Title" name="title" required>
                            <span ng-show="taskForm.title.$invalid && taskForm.title.$touched " class="texterror">Enter Task title.</span>
                            </div>
                            <div class="form-group">
                            <label>Task Code:*</label>
                            <input type="text" class="form-control"  ng-model="task.code" placeholder="Enter Task Code" name="code" required>
                            <span ng-show="taskForm.code.$invalid && taskForm.code.$touched " class="texterror">Enter Task code.</span>
                            </div>
                            <div class="form-group">
                            <label>Status:</label>
                            <div class="checkbox status_check">
                              <label>
                                <input type="checkbox" name='enable'  ng-model='task.enable' checked="{{enableChecked}}"/>
                                Enable
                              </label>
                            </div>
                          </div>
                          
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div><!-- /.tab-content -->
          </div>
          <div class="box-footer clearfix no-border">
            <button data-ng-if="!task._id" class=" btn m_lft5  btn-primary pull-right" data-ng-click="updateData(0)" ng-disabled="taskForm.$invalid"><i class="fa fa-check"></i> Add Task</button>
            <button data-ng-if="task._id" class="btn m_lft5 btn-primary pull-right" data-ng-click="updateData(1)" ng-disabled="taskForm.$invalid"><i class="fa fa-check"></i> Update Task</button>
            <a class="btn btn-primary m-r-10 pull-right m_lft5" href="/#/default-tasks"><i class="fa fa-reply p-r-10"></i>Cancel</a>
            <!--<button class="btn btn-default m-r-10 pull-right" ng-click="cleardata()" href="#"><i class="fa fa-reply"></i>Clear</button>-->
          </div>
        </div>
      </div>
      </section><!-- /.content -->
      </aside><!-- /.right-side -->